[2020-08-10 21:06] J-bytes opened #1 "Facet tags when filter"
When clicking on one of the facets to filter the data, a tag appear over the search results. This tag is given as the value of the preset and not the labels

[2020-08-10 21:07] J-bytes opened #2 "Preview"
The preview functionality of ckan is not compatible with ftp

[2020-08-10 21:08] J-bytes opened #3 "Upgrade to ckan 2.9"
There would need to be an evaluation on the complexity and merits for the upgrade to ckan 2.9 from 2.8.4

[2020-08-10 21:11] J-bytes opened #4 "Accessibility requirements part 1"
Every button should have some hidden text written with
  <span I'd=wb-inv> explains action</span>

[2020-08-10 21:15] J-bytes opened #5 "Search case sensitive"
The search form is case sensitive and will leave to undesirable results . The case sensitivity should be removed

[2020-08-11 14:15] J-bytes opened #6 "order by not working"
the order by refresh the page but do not seems to alter the order of the datasets presented

[2020-08-11 15:17] J-bytes opened #7 "order by and its categories are not translated"

[2020-08-11 19:47] #7 closed, assigned to nobody

[2020-08-11 19:47] #1 closed, assigned to nobody

[2020-08-11 20:03] J-bytes opened #8 "project tag is deficient"
the project tag get named ["earth_observation"] . It seems the actual value is changed somewhere rendering it useless

[2020-08-12 14:55] J-bytes opened #9 "in search.html the relevance order by field is the same as the modified by field."
I don't know if ckan for now takes into account the number of view for each dataset

[2020-08-13 15:22] J-bytes opened #10 "permission denied datastore"
https://askubuntu.com/questions/623864/change-ownership-of-all-files-from-root-to-user

you need to change the owner of the folder var/lib/ckan from root to the user in order to ckan to be able to create the necesssary folder it needed to store the data with the datastore

[2020-08-18 16:06] #8 closed, assigned to nobody

[2020-08-18 16:07] #6 closed, assigned to nobody

[2020-09-18 14:39] spourdei opened #13 "Typo in page title(s)"
"Canadian space agency" needs to be correctly capitalized across all templates in the English version.

![image](https://user-images.githubusercontent.com/50145933/93610602-44ef4500-f99b-11ea-8619-2738a126b7de.png)

[2020-09-18 15:03] spourdei opened #14 "Mistranslation & typo on the 404 page"
When the user's language is set to french and they click "explorer> plus d'information" there is a section that returns text in English. (This was fixed although due to another issue the page returns a 404 error).

The 404 error message also needs to be customized based on the user's language.

![image](https://user-images.githubusercontent.com/50145933/93613249-9d741180-f99e-11ea-8696-0597b3c805f

[2020-09-18 17:06] alexaantoniazzi opened #15 "Corrections Appliqués/Applied #11 – [Accesibilité/Accessibility]"
La page n'a toujours pas de h1, voir http://13.88.249.89:8080/fr/dataset

The page still has no h1, see http://13.88.249.89:8080/fr/dataset

![download](https://user-images.githubusercontent.com/26583461/93625300-b638f300-f9af-11ea-9e3b-8551290396aa.png)

[2020-09-18 17:13] alexaantoniazzi opened #16 "Corrections Appliqués/Applied #12 – [Typo]"
**Français:**

En anglais, dans les sous-menus, il ne devrait pas y avoir des majuscules aux mots des titres ou sous-titres que sur la première lettre du premier mot, exemple Economics and Industry (industry devrait avoir une minuscule)…

En anglais, menu de gauche, section Collection type, mettre une minuscule à Spatial dans Non-Spatial
En anglais, menu de gauche, section Keywords, mettre une min

[2020-09-18 17:18] alexaantoniazzi opened #17 "Corrections Appliqués/Applied #14 – [langue/language]"
**Français:**

En français, à côté de Formats des ressources, on y retrouve "other"

Voir : http://data.asc-csa.gc.ca:8080/fr/dataset?page=4
(ex. fiche « Archive des données de WINDII »)

**English:**

In French, beside the 'Formats des ressources:', the word 'other' appears
See, http://data.asc-csa.gc.ca:8080/fr/dataset?page=4

![thumbnail_image006](https://user-images.githubusercontent.com/26583

[2020-09-18 17:30] alexaantoniazzi opened #18 "Corrections Appliqués/Applied #18 – [typo]"
**Français:**

Dans le Additional information, Homepage, on devrait y avoir un **s** à http://asc-csa.gc.ca...

Dans les 2 langues, dans une fiche, lorsqu'il y a un lien vers le site de l'Agence spatiale canadienne, il devrait y avoir un s à http, exemple: http://13.88.249.89:8080/dataset/ace42c4b-1f39-4fb2-b7ba-c500d06ed61e

Dans l'onglet Additional information, sous Homepage, il n'y a pas de s à

[2020-09-18 18:03] alexaantoniazzi opened #19 "Corrections Appliqués/Applied #20 – [Accesibilité/Accessibility]"
**Français:**

Il y a une image dans la page sans attribut alt (toute image doit avoir l’attribut alt même si c’est une image décorative)

Dans les microfiches, il y a une erreur HTML (exemple ici http://13.88.249.89:8080/fr/dataset/221c1c75-4c42-4286-a4ce-ca6c3027b7fe/resource/71ef966a-cba0-4b74-bd17-e78896f65827) qu'il y a une image sans alt:

<img style="margin:auto; max-height:100%; display:bl

[2020-09-18 18:06] alexaantoniazzi opened #20 "Corrections Appliqués/Applied #21 – [Accesibilité/Accessibility]"
**Français:**

Nous avons un h1 dans la page et ensuite h3 (Extrait de résumé) devrait être un h2

Exemple, dans la fiche http://13.88.249.89:8080/dataset/221c1c75-4c42-4286-a4ce-ca6c3027b7fe on a le h1 on a un h1 et ensuite un h3, le h3 devrait être un h2

Voir http://13.88.240.170:8080/dataset/221c1c75-4c42-4286-a4ce-ca6c3027b7fe  h3 en premier (ligne 651) et h1 ensuite (ligne 1008)

![download-

[2020-09-18 18:07] alexaantoniazzi opened #21 "Corrections No. 35 – [typo]"
En anglais, dans les fiches individuelles, tableau des "ressources", titres du tableau ne devraient qu'avoir la première lettre en majuscule, exemple, changer Resource Name pour Resource name et Resource Type pour Resource type

Voir http://13.88.240.170:8080/dataset/221c1c75-4c42-4286-a4ce-ca6c3027b7fe

![download](https://user-images.githubusercontent.com/26583461/93630613-44b17280-f9b8-11ea-80d

[2020-09-18 18:08] alexaantoniazzi opened #22 "Corrections No. 36 – [typo]"
En anglais, dans les fiches individuelles, information à gauche, les titres des boîtes ne devraient avoir que la première lettre en majuscule: Additional Information pour Additional information et About this Record pour About this record

Voir http://13.88.240.170:8080/dataset/221c1c75-4c42-4286-a4ce-ca6c3027b7fe

![download-1](https://user-images.githubusercontent.com/26583461/93630696-61e64100-f

[2020-09-18 18:09] alexaantoniazzi opened #23 "Corrections No. 37 – [langue]"
En français, si je fais une recherche, sous Aucun jeu de données trouvé, il est écrit en anglais "Please try another search." Il faudrait mettre en français.

Voir http://13.88.240.170:8080/fr/dataset?q=kdk&sort=score+desc%2C+metadata_modified+desc

![download-2](https://user-images.githubusercontent.com/26583461/93630752-7cb8b580-f9b8-11ea-92cd-89578f328575.png)

[2020-09-18 18:10] alexaantoniazzi opened #24 "Corrections No. 38 - [langue]"
En français, il faut traduire Data Explorer en bas des fiches.

Voir http://13.88.240.170:8080/fr/dataset/06f5e364-6e2c-4d1c-95c2-9fb7d871ca20/resource/6087f154-9dab-4b49-9247-ef4f60d42994 il est écrit Data Explorer

![download-3](https://user-images.githubusercontent.com/26583461/93630866-b2f63500-f9b8-11ea-98f0-48d018d9e5da.png)

[2020-09-18 18:11] alexaantoniazzi opened #25 "Corrections No. 39 – [langue]"
En français, il faudrait avoir la mention (en anglais seulement) après tous les liens vers des sites anglophones (surtout dans les fiches, sous Informations additionnelles, à côté du titre URL de la page d'accueil et/ou ailleurs), exemple: http://13.88.249.89:8080/fr/dataset/cloudsat

Idem s’il existe des liens menant vers des sites uniquement francophones. Ceux-ci doivent être suivis de « (French

[2020-09-18 18:11] alexaantoniazzi opened #26 "Corrections No. 40 – [validation HTML]"
Deux langues, si je passe la validation HTML sur la page qui liste les jeux de données, ça me donne des erreurs d'ouverture et fermeture HTML

Error: Saw a form start tag, but there was already an active form element. Nested forms are not allowed. Ignoring the tag.

Error: End tag form seen, but there were open elements.

Error: Unclosed element div.

[2020-09-18 18:11] alexaantoniazzi opened #27 "Corrections No. 41 - [validation HTML]"
Fiche individuelle exemple http://13.88.249.89:8080/dataset/221c1c75-4c42-4286-a4ce-ca6c3027b7fe, validation HTML donne ces erreurs:

Voir http://13.88.240.170:8080/dataset/221c1c75-4c42-4286-a4ce-ca6c3027b7fe

Plusieurs erreurs de tag br, voici un exemple:

Error: End tag br.

From line 1173, column 13; to line 1173, column 17

[2020-09-18 18:12] alexaantoniazzi opened #28 "Corrections No. 42 - [Validation HTML]"
Le code HTML ne passe pas la validation (https://validator.w3.org/)
Voir : http://13.88.240.170:8080/fr/dataset

[2020-09-18 18:13] alexaantoniazzi opened #29 "Corrections No. 43 [Accessibilité]"
Bouton avec la loupe (recherche) devrait avoir un <span class="wb-inv">Rechercher</span> à côté de l’icône. (Donner un libellé invisible pour l’action du bouton)

Voir : http://13.88.240.170:8080/fr/dataset

![download-5](https://user-images.githubusercontent.com/26583461/93631156-184a2600-f9b9-11ea-8d7a-1058a051d8c3.png)

[2020-09-18 18:13] alexaantoniazzi opened #30 "Corrections No. 44 [Langues]"
Le libellé du bouton « Go » devrait être plus représentatif que « Go », par exemple « Trier »

Voir : http://13.88.240.170:8080/fr/dataset

![download-6](https://user-images.githubusercontent.com/26583461/93631197-2a2bc900-f9b9-11ea-9605-f02685c757ec.png)

[2020-09-18 18:14] alexaantoniazzi opened #31 "Corrections No. 45 [Accessibilité]"
Dans les boutons de pagination, il faut ajouter des <span class="wb-inv">Go to Page 1</span> (https://wet-boew.github.io/wet-boew-styleguide/design/pagination-en.html) (Ajouter l’action du bouton de façon invisible)

Voir : http://13.88.240.170:8080/fr/dataset

![download-7](https://user-images.githubusercontent.com/26583461/93631255-40d22000-f9b9-11ea-8755-e397c346e045.png)

[2020-09-18 18:14] alexaantoniazzi opened #32 "Corrections No. 46 [Accessibilité]"
Lorsqu’on sélectionne un filtre dans la colonne de droite, il faudrait que ce soit affiché qu’il est sélectionné après le reload de la page. En ce moment, le expand/hide d’un filtre sélectionné est fermé, on ne peut donc pas voir quels filtres sont appliqués à la recherche.

Voir : http://13.88.240.170:8080/fr/dataset

![download-8](https://user-images.githubusercontent.com/26583461/93631312-58110

[2020-09-18 18:16] alexaantoniazzi opened #33 "Corrections No. 47 – [typo]"
http://data.asc-csa.gc.ca:8080/fr/dataset/a19446d3-2f74-4aea-85d3-33ed21d54850

En français, après l’URL de la page d’accueil du produit de la fiche, il ne doit y avoir qu’un seuls deux points « : »

![download-9](https://user-images.githubusercontent.com/26583461/93631375-7a0a9000-f9b9-11ea-8706-a9ba2d884833.png)

[2020-09-18 18:16] alexaantoniazzi opened #34 "Corrections No. 48 – [typo]"
http://data.asc-csa.gc.ca:8080/fr/dataset

En français il devrait y avoir une espace insécable avant les deux points partout (ex. le menu déroulant pour trier « Par ordre », libellé « Organisation », libellé « Format des ressources » dans chaque fiche)

![download-10](https://user-images.githubusercontent.com/26583461/93631418-927aaa80-f9b9-11ea-962f-15aaa8495abe.png)

[2020-09-18 18:17] alexaantoniazzi opened #35 "Corrections No. 49 [Accessibilité]"
http://data.asc-csa.gc.ca:8080/fr/dataset/a19446d3-2f74-4aea-85d3-33ed21d54850

En français, les boutons « Télécharger » devraient tous être unique (ajouter du texte invisible « wb-inv » pour décrire ce qui va être téléchargé)

![download-11](https://user-images.githubusercontent.com/26583461/93631476-a7573e00-f9b9-11ea-8fd3-49e88cfbc158.png)

[2020-09-18 18:18] alexaantoniazzi opened #36 "Corrections No. 50 [Accessibilité]"
http://data.asc-csa.gc.ca:8080/fr/dataset/a19446d3-2f74-4aea-85d3-33ed21d54850

Deux langues, l’URL de la page d’accueil du produit de la fiche doit être cliquable et doit être une URL

![download-12](https://user-images.githubusercontent.com/26583461/93631520-be962b80-f9b9-11ea-9e50-d950c6bcc2eb.png)

[2020-09-18 18:18] alexaantoniazzi opened #37 "Corrections No. 51 [Langue]"
http://data.asc-csa.gc.ca:8080/fr/dataset/bfb2331e-6d68-41c0-8cf4-c2e9c4d68eb7

En français, sur les fiches, le titre de la boîte « À propos de ce site » devrait plutôt dire « À propos de cette fiche » pour être cohérent avec l’anglais.

![download-13](https://user-images.githubusercontent.com/26583461/93631564-d1106500-f9b9-11ea-873e-3eaf1c41752b.png)

[2020-09-18 18:19] alexaantoniazzi opened #38 "Corrections No. 52 [Langue]"
http://data.asc-csa.gc.ca:8080/fr/dataset/a19446d3-2f74-4aea-85d3-33ed21d54850

En français, le titre de la fiche « australie » devrait prendre une majuscule.

![download-14](https://user-images.githubusercontent.com/26583461/93631619-e7b6bc00-f9b9-11ea-85f8-eb6b8586bff9.png)

[2020-09-18 18:20] alexaantoniazzi opened #39 "Corrections No. 53 [Typo]"
http://data.asc-csa.gc.ca:8080/fr/dataset/a19446d3-2f74-4aea-85d3-33ed21d54850

En français, sous « Informations additionnelles », on devrait indiquer seulement «Courriel » ou « Personne-ressource » pour être cohérent avec l’anglais.

![thumbnail_image026](https://user-images.githubusercontent.com/26583461/93631772-28163a00-f9ba-11ea-9c5a-bdc706dd8fa6.jpg)

[2020-09-18 18:21] alexaantoniazzi opened #40 "Corrections No. 54 [Accessibilité]"
http://data.asc-csa.gc.ca:8080/fr/dataset/a19446d3-2f74-4aea-85d3-33ed21d54850

Au-dessus de la bande de gauche (Informations additionnelles), il est inutile d’afficher le nom de la fiche, car celui-ci est déjà en H1.

![download](https://user-images.githubusercontent.com/26583461/93631814-3d8b6400-f9ba-11ea-8fda-1de1228bf069.png)

[2020-09-19 14:33] J-bytes commented on #40
Correction appliqué dans master. La fermeture de l'issues doit attendre que les changements soient poussés sur les serveurs test et production.

[2020-09-19 14:36] J-bytes opened #41 "Les mots-clés n'apparaissent pas dans l'onglet dataset"
![image](https://user-images.githubusercontent.com/60334318/93669696-e215b080-fa63-11ea-8852-e3fdef2d35aa.png)

Les mots-clés ne s'affichent pas

[2020-09-19 14:43] J-bytes commented on #38
Cette erreur est située dans la métadonnée. Elle peut toutefois être corrigé manuellement après l'importation des données.

[2020-09-19 14:57] J-bytes commented on #36
Cette correction doit être appliqué dans les métadonnées. Peut être corrigé manuellement avant (fichier json) ou après (interface web) l'importation.

[2020-09-19 15:05] J-bytes commented on #35
Correction appliqué dans master.

[2020-09-19 15:17] J-bytes commented on #34
Correction appliqué dans master

[2020-09-19 15:48] J-bytes commented on #31
https://github.com/ckan/ckan/issues/3104

Il n'est pas possible pour l'instant de modifier cet aspect. L'on peut toutefois rouvrir l'issue ici lié pour inciter la modification de cet aspect de ckan

[2020-09-19 16:02] J-bytes commented on #30
correction appliqué

[2020-09-19 16:12] J-bytes commented on #29
Ajout d'un libellé invisible "Search" / "Recherche" effectué.

[2020-09-19 16:13] J-bytes commented on #25
À corriger manuellement pour chaque entrée problématique

[2020-09-19 16:41] J-bytes commented on #23
Correction appliqué

[2020-09-19 16:42] J-bytes commented on #22
Correction appliqué par "changement majuscule divers"

[2020-09-19 16:42] J-bytes commented on #21
Correction appliqué par "correction majuscule divers"

[2020-09-19 16:50] J-bytes commented on #20
Un autre commentaire était de retirer le titre en doublet (le h3). Il ne resterait donc qu'à mettre l'abstract en h2?

[2020-09-19 17:47] J-bytes commented on #19
Ce n'est pas réellement une image mais un iframe qui tente d'importer les images d'alouette (ne marche pas par ftp). Iframe ne possède pas d'attribut alt. Il existe des solutions plus complexe mais il est mieux d'attendre que celle ci soit implémenter dans ckan. Me corriger si j'ai tord

[2020-09-19 17:48] J-bytes commented on #18
Cela se fait par un meilleur nettoyage des données. Soit par un script python ou manuellement par l'interface web de ckan

[2020-09-19 17:57] J-bytes commented on #17
corrigé sur master

[2020-09-19 18:02] J-bytes commented on #16
Corrections partiellement appliqués. Les keyword sont des métadonnées importés de open canada. À ajouter dans le cleaning.

[2020-09-19 18:03] J-bytes commented on #15
Que faut t'il mettre en h1?

[2020-09-19 18:37] J-bytes commented on #32
Cette fonctionnalité fut ajouté au portail du Canada. Il serait intéressant de réutiliser leur code pour implémenter ceci

[2020-09-19 21:17] J-bytes commented on #32
Correction appliqué sur master

[2020-09-19 21:44] J-bytes commented on #39
corrigé dans master

[2020-09-19 21:46] J-bytes commented on #33
La correction fut effectué dans ckanext-scheming

[2020-09-22 18:13] low-decarie opened #42 "Improve top level readme"
- [ ] Include screenshots
- [ ] Reference files in reamde folder
- [ ] Put french first
- [ ] Remove  travis integration if not used/working
- [ ] Le francais va suivre suggest the french will be added later (Le français ici-bas with ç)
- [ ] Add url for scheming extension https://github.com/asc-csa/ckanext-asc-csa-scheming

[2020-09-24 18:08] low-decarie opened #43 "Better link for API"
API button at bottom of page is not very useful (http://data.asc-csa.gc.ca:8080/fr/api/3)

Replace with a link to an informative page providing an example that is specific to accessing data from the CSA data portal.

This will also be refered to on general website version of http://livelink/livelink/llisapi.dll/fetch/2000/12006/130939/7593810/354696/36014768/36908608/36988513/44996229/api.html

[2020-09-24 20:15] J-bytes opened #44 "label True/False non traduit (scientific data)"

[2020-09-24 20:16] J-bytes commented on #44
Corrigé dans Master

[2020-09-24 21:08] J-bytes commented on #37
Corrigé dans master

[2020-10-02 15:54] alexaantoniazzi commented on #44
Correction validée

[2020-10-02 15:55] alexaantoniazzi commented on #39
Correction validée

[2020-10-02 15:55] alexaantoniazzi commented on #37
Correction validée

[2020-10-02 15:58] alexaantoniazzi commented on #35
Correction validée, le texte invisible est "ressource x" pour chaque boutons (x est remplacer part un numero)

[2020-10-02 16:01] alexaantoniazzi commented on #34
Correction validée pour le menu déroulant 'Par ordre'

[2020-10-02 16:02] alexaantoniazzi commented on #33
Correction validée

[2020-10-02 16:02] alexaantoniazzi commented on #32
Correction validée

[2020-10-02 16:02] alexaantoniazzi commented on #30
Correction validée

[2020-10-02 16:03] alexaantoniazzi commented on #29
Correction validée

[2020-10-02 16:03] alexaantoniazzi commented on #23
Correction validée

[2020-10-02 16:04] alexaantoniazzi commented on #22
Correction validée

[2020-10-02 16:04] alexaantoniazzi commented on #21
Correction validée

[2020-10-02 16:06] alexaantoniazzi commented on #17
Correction validée

[2020-10-02 17:50] low-decarie opened #45 "Migrate url to cloud location"
Migrate url from legacy ftp (ftp.asc-csa) to
[ ] new ftp (data.asc-csa) for folders and files not ingestible by data-pusher into the datastore
[ ] to new https link ((data.asc-csa) for files readible by datapusher

[2020-10-02 18:12] low-decarie opened #46 "Code scanning alerts"
Enable [code scanning](https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/about-code-scanning)?

[2020-10-03 15:55] J-bytes commented on #46
@low-decarie I can try enabling it but this feature is limited in the free option of github. It uses "minutes" which we only have a limited amount every month. If we do not require those for anything else, I can try enabling it for the ckan extensions and the apps

 https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-githu

[2020-10-03 16:46] J-bytes commented on #41
Correction apporté dans master

[2020-10-03 16:46] J-bytes commented on #41
avec légère triche pour outrepasser le mécanisme habituel de CKAN

[2020-10-03 18:17] J-bytes commented on #28
Les résultats du validateur varie selon qu'on télécharge la page en entier ou juste le html. J'assumerai que le résultat le plus proche de la réalité est celui de la page téléchargé au complet. Ce sont donc ces erreurs qui seront vérifiés.

[2020-10-03 18:20] J-bytes commented on #28
Atttention : Le résultat de w3 varie selon que la page html soit téléchargé "au complet" ou seulement le html

[2020-10-03 18:46] J-bytes commented on #28
Correction (très) partiel appliqué. Plusieurs de ces changements devraient être appliqués directement dans  le développement de ckan

[2020-10-03 18:48] J-bytes commented on #28
![image](https://user-images.githubusercontent.com/60334318/94999439-6f3e2680-0587-11eb-8e98-91106611d06a.png)

[2020-10-03 18:56] J-bytes commented on #24
Ce probème semble provenir de l'extension reclineview (intégré à ckan) qui ne serait pas ben traduite

[2020-10-03 19:01] J-bytes commented on #10
a command has been added to the readme file to setup ckan datastore permssion

[2020-10-03 19:01] #10 closed

[2020-10-07 17:12] alexaantoniazzi opened #47 "HTLM download button leads to 404 on specified datasets"
Datasets:
1. Management Action Plans Follow-Up for Internal Audit - Annual Reports as at March 31, 2012
2. Management Action Plans Follow-Up for evaluation- Annual Report as of March 31, 2012
3. Audit of the Canadian Space Agency Class Grant and Contribution Program to Support Research, Awareness and Learning in Space Science and Technology
4. Evaluation of the Earth Observation Data and Imagery U

[2020-10-07 18:57] alexaantoniazzi opened #48 "CKAN - Page Selection"
When on page 1: Number ordering skips 4

<img width="285" alt="Screen Shot 2020-10-07 at 2 55 02 PM" src="https://user-images.githubusercontent.com/26583461/95375224-51393480-08ad-11eb-8bb8-62f6743d20a7.png">

When on page 3:

<img width="420" alt="Screen Shot 2020-10-07 at 2 55 35 PM" src="https://user-images.githubusercontent.com/26583461/95375236-58604280-08ad-11eb-9492-777635a8c576.png">

[2020-10-08 17:23] alexaantoniazzi opened #49 "CKAN - PDF download button leads to 502: Proxy Error on specified datasets"
Datasets:

1. Evaluation of the STDP for the Period of 2002/03 to 2007/08
2. Management Action Plans Follow-Up for evaluation - Annual Report as of March 31, 2011
3. Evaluation of the RADARSAT-2 Major Crown Project
4. Annual Report of the External Members of the Audit Committee 2013-2014

[2020-10-08 18:29] J-bytes commented on #49
Those links may just be dead... A good clean up of all the urls might be required. It could then be tempting to wait a bit and then just manually change/test every url.

[2020-10-08 19:52] J-bytes commented on #13
Already corrected on production server. Could be corrected on test server

[2020-10-08 20:02] J-bytes commented on #13
An attempt to correct it through the web interface of ckan for the test server failed. I proposed that as long as the production server is not affected, we ignore this issue.

[2020-10-08 20:20] J-bytes commented on #35
@alexaantoniazzi le texte invisible ne réfère pas à cela. Toutefois la modification à bel et bien été appliqué

![image](https://user-images.githubusercontent.com/60334318/95509168-2371ef80-0982-11eb-9a9d-70b2f536e8d5.png)

[2020-10-08 20:29] J-bytes commented on #29
@low-decarie  penses-tu que seulement l'ajout de la mention "recherche/search" correspond à une description suffisante?

[2020-10-08 20:31] J-bytes commented on #25
A new preset "link_language" has to be set and all dataset should then be manually checked for the languages of the links

[2020-10-08 21:08] J-bytes commented on #16
Tout devrait être corrigé excepté les mots-clés. Cela demanderait une correction manuelle sur chaque jeu de données.

[2020-10-08 21:10] J-bytes commented on #15
@low-decarie Est-ce que tu aurais une idée du titre le plus pertinent à mettre en h1 pour cette page?

[2020-10-08 21:13] J-bytes commented on #43
https://docs.ckan.org/en/2.8/theming/static-files.html

[2020-10-08 21:18] J-bytes commented on #13
Changes pushed to master

[2020-10-09 13:27] low-decarie commented on #15
Probablement "Données ouvertes - Agence spatiale canadienne" | "Open data - Canadian Space Agency" comme h1.
h2 est language selection?

[2020-10-09 14:56] J-bytes commented on #49
Those links seems to work on open canada ... I'll check if they work on my version of ckan

[2020-10-09 15:04] J-bytes commented on #49
@alexaantoniazzi  All links seems operationnal on my version of ckan ....

[2020-10-09 18:24] J-bytes opened #50 "Classement scientifique vrai/faux"
Le classement pour l'instant n'est pas parfait. Si un nettoyage des données manuelles est effectué, il serait alors très intéressant de venir corriger les erreurs possible de ce classement

[2020-10-12 18:55] J-bytes commented on #43
![image](https://user-images.githubusercontent.com/60334318/95780467-f2533100-0c99-11eb-8cd4-bb1f77082163.png)

The possibility to add new "template" page to ckan has been added, with the first new page being the api page, accesssible through "/API". This functionnality will be added as a new branch before merging with master to avoid any problems

[2020-10-12 19:12] J-bytes commented on #31
I will tag this issue as "CKAN". There is an active issue lead by the Ontario government to make ckan more accessible by default. I would highly recommend to wait until we can coordinate with them. https://github.com/ckan/ideas/issues/238

[2020-10-12 19:29] J-bytes commented on #26
![image](https://user-images.githubusercontent.com/60334318/95783070-1107f680-0c9f-11eb-8f30-b6f8c390f3c4.png)

Certains avertissements sont affichés toutefois aucune errreur n'est reporté et ce dans les deux langues.

![image](https://user-images.githubusercontent.com/60334318/95783387-b58a3880-0c9f-11eb-91d2-cd1930d11073.png)

[2020-10-24 15:58] J-bytes commented on #48
this problem is based on the ckan app itself and not our extension.

[2020-10-24 16:22] J-bytes commented on #43
Si nous obtenons la permission de publier le code du harvester, nous pourrons alors utiliser celui-ci comme exemple dans cette page

[2020-10-24 17:47] J-bytes commented on #20
Redondant avec l'issue #40 (accessibilité #54) . Je ferme l'issue

[2020-10-24 17:47] #20 closed

[2020-10-24 18:19] J-bytes commented on #28
La validation est presque complétée

[2020-10-24 18:40] J-bytes commented on #14
Une nouvelle branche fut créée pour développer une page d'erreur alternative ....

[2020-10-24 19:51] low-decarie commented on #43
Nous avons la permission de le publier. Je viens de recevoir la confirmation.

Merci

 Sent on the go on my mobile.
En déplacement: envoyer sur mon cellulaire.

Etienne Low-Décarie, PhD.
Gestionnaire, Centre d’expertise en données
et
Scientifique de l'Exploration, Astronautes, sciences de la vie et médecine spatiale
Agence spatiale canadienne / Gouvernement du Canada

Manager, Data Centre of Exper

[2020-11-02 15:07] J-bytes commented on #28
validation terminée. Elle n'est pas encore complètement poussée sur le serveur test

[2020-11-02 16:04] J-bytes commented on #15
j'ai mis "109 datasets found" comme h1. Il 'est pas possible de sélectionner les breadccrumbs comme header, ni l'entête de la page. J'avoue ne pas comprendre pourquoi language selection est un h2.

[2020-11-02 16:06] J-bytes commented on #13
just to be sure , it would be Canadian Space Agency | Agence spatiale canadienne right?

[2020-11-02 16:07] J-bytes commented on #14
The new branch created to solve thisproblem will show a translated error message. However, every error message will then be referred as 404 errors no matter what....

[2020-11-02 19:02] J-bytes commented on #48
resolved in ckan 2.8.6

[2020-11-04 15:17] low-decarie opened #52 "Add missing datasets not hosted at CSA"
Add datasets funded by CSA but not hosted at CSA

[2020-11-07 19:03] J-bytes commented on #52
Let's not forget about the three missing datasets from the government of canada ckan instance. I sadly am not sure which one exactly is missing but due to problems out of our control, the harvester could not get them.

[2020-11-09 15:02] #44 closed

[2020-11-09 15:07] #41 closed

[2020-11-09 15:08] #40 closed

[2020-11-09 15:09] #39 closed

[2020-11-09 15:11] #37 closed

[2020-11-09 15:15] J-bytes commented on #34
Non complété

[2020-11-09 15:17] J-bytes commented on #33
L'url de la page d'accueil ne semble plus visible sur le serveur test?

[2020-11-09 15:19] #33 closed

[2020-11-09 15:19] #32 closed

[2020-11-09 15:20] #30 closed

[2020-11-09 15:24] J-bytes commented on #27
La validation html fut effectué. Il est à noté que si l'option "page web, html uniquement" est sélectionné,  un résultat différent peut être obtenu

[2020-11-09 15:25] #15 closed

[2020-11-09 15:25] #17 closed

[2020-11-09 15:26] #21 closed

[2020-11-09 15:26] #23 closed

[2020-11-09 15:27] #22 closed

[2020-11-09 15:31] J-bytes opened #53 "Add the 3 missing datasets from the open data portal"
When importing the datasets from the open data portal, 3 datasets were reported as not being able to be downloaded through the dataset. If possible, these datasets should be track down and added to our instance

[2020-11-09 15:32] #3 closed

[2020-11-09 15:36] J-bytes commented on #5
The case sensitivity is partially resolved. For example, SciSat and scisat wil yield different results but only because for SciSat, it will do separate "Sci" and "Sat" to research both of those while also searching for "scisat". This feature, while it might appears at a bug, could prove itself useful.

[2020-11-09 15:36] #5 closed

[2020-11-09 15:47] J-bytes commented on #4
This is a doublon from different more precise issues specified by Comms and will therefore be closed

[2020-11-09 15:47] #4 closed

[2020-11-09 19:53] J-bytes commented on #13
solved on master

[2020-11-09 20:16] J-bytes commented on #24
https://github.com/ckan/ckan/issues/5732

[2020-11-09 20:25] J-bytes commented on #31
https://github.com/ckan/ckan/issues/5733

[2020-11-10 20:11] low-decarie opened #54 "Add an entry for BRITE"
https://brite.camk.edu.pl/pub/index.html

[2020-11-10 20:12] low-decarie opened #55 "Add an entry for UVIT on AstroSat"
ASTROSAT Support Cell (http://astrosat-ssc.iucaa.in/?q=uvitData)

[2020-11-14 15:25] J-bytes opened #56 "Code clean up"
Cleaning up the different old scripts to assure easier maintenance

[2020-11-14 15:56] J-bytes opened #57 "No control over css"
Our version of ckan use https://wet-boew.github.io/themes-dist/GCWeb/css/theme.min.css as its css file. It means we have little control over changes we want to apply to it. There is a module (fanstatic) built into ckan to use local css files. It seems there were an attempt to use fanstatic before it was abandoned. For the future, having a css we can customize to our need could prove more than usef

[2020-11-14 19:08] J-bytes commented on #57
The change has been made. However, we might need to apply some change to the local css files if we see changes that we do not want appearing. I will leave this issue open until I can get some feedback to make sure nothing got broken

[2020-11-21 20:00] J-bytes opened #58 "ckanext-recline_view missing many translations"
![Screenshot 2020-11-21 145721](https://user-images.githubusercontent.com/60334318/99886382-0af42680-2c0a-11eb-9a41-a20d367a4b3f.png)
![Screenshot 2020-11-21 145957](https://user-images.githubusercontent.com/60334318/99886406-3d058880-2c0a-11eb-9d43-1344ea406aff.png)

[2020-11-21 20:01] J-bytes opened #59 "Data_proxy not working"
Data proxy seems to require a public ip address or ckan. We can avoid using it by using resource_proxy. Simply add resource_proxy to the plugins list in the ckan config file. This combine to a good usage of datapusher should enable the preview functionnality

[2020-11-30 16:07] J-bytes commented on #58
We've received the following message before the ckan issue was closed :

@J-bytes Besides the "Data Explorer" string which is in CKAN, all the other ones are rendered by the Recline JS library, which doesn't support i18n yet.
Original issue is datopian/recline#459
In case you can help, there is an old PR (datopian/recline#508) that might be easy to bring up to speed with Recline's master, and perh

[2020-11-30 16:53] J-bytes commented on #58
To support bilingual preview of the data we will therefore need to do a three step process :

1. update datopian/recline#508 to bring it in line with the master

2. submit it to the datopian team to merge it with master

3. Submit this new version of recline to ckan in order to push it to a future update

[2020-12-04 18:06] alexaantoniazzi commented on #49
Could not replicate on server

[2020-12-04 18:06] #49 closed

[2020-12-04 18:06] alexaantoniazzi commented on #47
Could not replicate error on server

[2020-12-04 18:06] #47 closed

[2020-12-04 18:07] alexaantoniazzi commented on #45
Updated on @data

[2020-12-04 20:21] alexaantoniazzi commented on #38
Fixed on @data

[2020-12-05 21:47] J-bytes commented on #31
The problem will be resolved when updating to CKAN 2.9

[2020-12-05 21:51] #48 closed

[2020-12-05 21:52] #2 closed

[2020-12-07 19:06] nfee006 opened #60 "Assign science_admin values on @data"
The science_admin field must be assigned manually for the datasets currently on @ data. This can be done by inserting /edit/ in the dataset url. Ex. servername:8080/dataset/**edit**/dataset-id

Some of the datasets have already had their science_admin values assigned.

![image](https://user-images.githubusercontent.com/11013061/101393623-632b5980-3895-11eb-963a-2dda792b7da8.png)

[2020-12-07 19:21] J-bytes commented on #59
A double check on somebody else's  ckan installation will be required to move forward. Once this is done, simply adding resource_proxy to the list of ckans.plugins in the configuration file should be enough

[2020-12-07 20:00] alexaantoniazzi opened #61 "Metdata - Homepage URL - @data"
RADARSAT-1 Australia: http://13.88.240.170:8080/dataset/a19446d3-2f74-4aea-85d3-33ed21d54850
RADARSAT-1 Antarctica: http://13.88.240.170:8080/dataset/38ce99e4-8c60-45cc-ba88-7edc9822fd99​

![Screen Shot 2020-12-07 at 12 08 42 PM](https://user-images.githubusercontent.com/26583461/101398986-df756b00-389c-11eb-97a4-913b7fa3d7fe.png)

The link does not format into the available space or become a hype

[2020-12-07 21:38] alexaantoniazzi commented on #36
changes made on @data

[2020-12-08 15:42] nfee006 opened #62 "Dataset Creation Page Translation"
Some elements on the dataset creation page are not translated into french.

![image](https://user-images.githubusercontent.com/11013061/101504939-c5419880-3941-11eb-814f-80906d7370fa.png)

[2020-12-08 19:14] alexaantoniazzi commented on #50
changes made on @data

[2020-12-08 19:16] nfee006 commented on #61
Verified. Fixed by Alexa on @ data.

[2020-12-08 19:16] #61 closed

[2020-12-08 20:10] nfee006 commented on #16
The "Internal auditing" tag was changed manually for each dataset affected. "Non-spatial data" was changed in usr/lib/ckan/default/src/ckanext-asc-csa/ckanext/csa/**preset.json**

![image](https://user-images.githubusercontent.com/11013061/101535970-5ecf7100-3967-11eb-8407-16ce32f76e78.png)

![image](https://user-images.githubusercontent.com/11013061/101536015-6bec6000-3967-11eb-84d5-6ab6c47495b2.

[2020-12-08 20:35] alexaantoniazzi commented on #16
verified on @data

[2020-12-08 20:35] #16 closed

[2020-12-08 21:01] nfee006 commented on #50
Verified on @ data. Some datasets are slightly ambiguous so it may be helpful to devise a better system in the future.

[2020-12-08 21:01] #50 closed

[2020-12-08 21:02] nfee006 commented on #60
Verified on @ data. Some datasets are slightly ambiguous so it may be helpful to devise a better system in the future.

[2020-12-08 21:02] #60 closed

[2020-12-08 21:04] nfee006 commented on #38
Verified on @ data.

[2020-12-08 21:04] #38 closed

[2020-12-08 21:06] nfee006 commented on #36
Verified on @ data.

[2020-12-08 21:06] #36 closed

[2020-12-09 13:33] nfee006 commented on #14
Unable to replicate based on "explorer - plus d'information" directions but general 404 page for incorrect URLs is untranslated.

![image](https://user-images.githubusercontent.com/11013061/101635905-976b5b00-39f8-11eb-9ee8-ec149b19726a.png)

[2020-12-09 14:25] nfee006 opened #63 "Organization facet labels not working"
The facets on the /organization page are not properly configured. Not clear if we even need this page though considering we are only handling data from one organization.

![image](https://user-images.githubusercontent.com/11013061/101639455-532e8980-39fd-11eb-8c28-449b6908a2f0.png)

[2020-12-09 14:40] nfee006 commented on #59
@J-bytes resource_proxy added to the plugin list on development.ini on my VM. Unable to visualize a csv from @ data. I tried the link with both http and https. Am I missing something?

![image](https://user-images.githubusercontent.com/11013061/101643618-4fe9cc80-3a02-11eb-85df-94a61eb20a72.png)

[2020-12-09 14:54] J-bytes commented on #59
@nfee006 when you created the dataset , was datapusher running ? If not , simply running it and changing the url ( when a new url is detected , datapusher re-fetch the data so changing it to a fake url and changing it back will do the trick) should do the trick . If however datapusher was running, I would need to dig deeper to find the root of the issue

[2020-12-09 16:08] alexaantoniazzi commented on #59
Reimported all the data with datapusher running and getting the same error as Natasha.

[2020-12-09 16:13] nfee006 commented on #59
@J-bytes Datapusher was running but I restarted CKAN and Datapusher & recreated the dataset just in case. I did realize that I was running an outdated version of ckanext-asc-csa so I I updated that. Still getting this. Maybe it's a firewall issue? I guess it's working on Citrix for you?

What file did you edit to add that warning by the way? It doesn't seem to translate.

![image](https://user-ima

[2020-12-09 16:23] J-bytes commented on #59
Translation are not handled in a file by file basis. See https://docs.ckan.org/en/2.8/extensions/translating-extensions.html . Translation are added to the .po file. I've suggested to wait until we do new releases to push to the server to review new translations. If needed I can do the translation today ( "@" me if necessary)

[2020-12-09 16:25] J-bytes commented on #59
Also, are urls to the data server publicly accessible or only internally through the vpn? If so, I would expect the links only to work on the server and not on our local VM

[2020-12-09 16:34] nfee006 commented on #59
@ data is only accessible via the VPN right now (my understanding) but my VM has access to the CSA network. I'm able to view those files if I go to the link directly.

[2020-12-09 16:41] J-bytes commented on #59
You are then officially further then I've ever been on the development of the visualisation as my VM can't access the VPN. Did you tried creating a dud datasets with some public facing csv file from another source? I had tried it and it seemed to work with another source of data. Try replicating this so we can pinpoint the error.

[2020-12-09 16:44] nfee006 commented on #59
Works fine with any public csv. It always has though on my side.

[2020-12-09 16:45] J-bytes commented on #59
when you loaded the data did the datapusher's console report any error?

[2020-12-09 16:53] nfee006 commented on #59
I have a sneaking suspicion that there may be something wrong with CKAN on my VM. I'll email you once I figure this out. Thanks!

[2020-12-10 17:24] nfee006 commented on #58
As an stopgap measure, this text can be manually modified in the following files:

"Data Explorer" at the top of the page
https://github.com/ckan/ckan/blob/d2dbcd3a6c380503398823e170d5ea2050a54b9e/ckanext/reclineview/plugin.py
![image](https://user-images.githubusercontent.com/11013061/101806616-07491680-3ac9-11eb-9c9d-835c9efc3f9a.png)

All other text
https://github.com/ckan/ckan/blob/aa32b2379a5

[2020-12-11 20:31] nfee006 commented on #59
I think there might be something wrong with how data is stored and/or retrieved on/from the datastore. If you compare the output from https://demo.ckan.org/api/3/action/datastore_search?resource_id=_table_metadata to the same call on @ data, there is clearly something off. I get the same output as @data on my VM CKAN as well.

Resource_proxy has been added to the plugin list on @ data.

[2020-12-14 18:20] nfee006 commented on #18
Verified on @data.

[2020-12-14 18:20] #18 closed

[2020-12-14 18:25] nfee006 commented on #13
Verified on @ data.

[2020-12-14 18:25] #13 closed

[2020-12-14 18:28] nfee006 commented on #35
Verified on @ data.

[2020-12-14 18:28] #35 closed

[2020-12-14 18:35] nfee006 opened #64 "Relabeling science_admin in the dataset facet"
Change the "Scientific Data" value labels from True or False to Science or Management/Operations on @ data.

Editing the ckan_dataset.js page does not appear to solve this issue.

![image](https://user-images.githubusercontent.com/11013061/102120931-346f2f00-3e11-11eb-9e33-632b9c1af171.png)

[2020-12-15 20:58] nfee006 opened #65 "Restructure search page facet"
I'm not convinced that these categories would be clear for a user. For example: would they know the difference between a collection and resource type? It would be interesting to get user input for this specifically when we launch internally.

![image](https://user-images.githubusercontent.com/11013061/102271700-93e24300-3ed4-11eb-9f44-b1101250c706.png)

[2020-12-15 22:30] J-bytes commented on #64
@nfee006 A soluton has been pushed to master. I'll let you close the issue if you are satisfied with the results

[2020-12-15 22:32] J-bytes commented on #63
The access to this page could be removed. The user have no use for those pages (it would be simple to redirect the urls from those page to the 404 page or the dataset page. Otherwise since they are not linked from anywhere even as is I do not expect this to be much of an issue

[2020-12-15 22:33] J-bytes commented on #63
@nfee006 @low-decarie let me know the solution you prefer and I'll implement it shortly

[2020-12-15 22:36] J-bytes commented on #62
I'll correct most of these translation tomorrow but I would classify this issue as a low-priority since no user will see these

[2020-12-15 22:44] J-bytes commented on #14
@nfee006 A translation has been push to master to correct this issue. Can you confirm this?

[2020-12-16 13:09] nfee006 commented on #63
I think we're fine leaving it as it is for now. Thanks @J-bytes

[2020-12-16 13:10] nfee006 commented on #62
Agreed, low-priority. Don't worry too much if you can't get to it.

[2020-12-16 16:48] J-bytes opened #66 "solr error 500"
![image](https://user-images.githubusercontent.com/60334318/102378933-5513c200-3f94-11eb-8ca5-3e74f15c5d32.png)

Solr seems to crash when trying to edit the RADARSAT datasets . I'm running some modification on my VM but I don't think they are responsible for this. Can somebody recreate the issue? (go to radarsat antarctic mosaics and open the edit page. Change something or nothing and save this

[2020-12-16 16:59] J-bytes commented on #66
Solr file wasn't up to date. This issue will be closed

[2020-12-16 16:59] #66 closed

[2020-12-16 17:07] J-bytes opened #67 "Chaning preview to view in ckan configuration file"
Preview is deprecated. We should change preview to view in our configuration file
![image](https://user-images.githubusercontent.com/60334318/102381401-277c4800-3f97-11eb-83d9-126f79f08a44.png)

This is not urgent and will require a quick review to assure the passage to view doesn't cause any issues

[2020-12-17 14:49] nfee006 commented on #64
Implemented in master and on @ data. One issue: "Data category" does not translate properly. It likely needs to be set in one of the babel files.

[2020-12-17 14:49] nfee006 commented on #25
Implemented on @ data. Manual updates ongoing.

[2020-12-17 17:05] nfee006 opened #68 "Poor link formatting in Internet Explorer"
Homepage URL links often overflow the dataset page facet in IE. This is not an issue in Chrome. This is just cosmetic - it does not affect functionality.

Example: http://data.asc-csa.gc.ca:8080/dataset/38ce99e4-8c60-45cc-ba88-7edc9822fd99
![image](https://user-images.githubusercontent.com/11013061/102518790-b81e5b00-405f-11eb-9bf1-abc13d964da2.png)

[2020-12-17 20:14] nfee006 commented on #64
Successfully implemented on @ data.

[2020-12-17 20:14] #64 closed

[2020-12-17 20:15] nfee006 commented on #25
Manual updates completed on @ data.

[2020-12-17 20:15] #25 closed

[2020-12-17 20:29] nfee006 commented on #14
Seems good now.

![image](https://user-images.githubusercontent.com/11013061/102540007-6fc16600-407c-11eb-8533-63ecab31f8ae.png)

[2020-12-17 20:29] #14 closed

[2020-12-17 20:36] nfee006 commented on #29
This correction seems adequate to me.
![image](https://user-images.githubusercontent.com/11013061/102540568-35a49400-407d-11eb-8e15-35218a385435.png)

![image](https://user-images.githubusercontent.com/11013061/102540739-77353f00-407d-11eb-8354-b212cc7242f4.png)

[2020-12-17 20:36] #29 closed

[2020-12-17 20:59] nfee006 opened #69 "Broken links/missing files on @ data"
**1. Canadian Space Agency (CSA) peer-reviewed publications list**
All resources @ http://data.asc-csa.gc.ca:8080/dataset/dd18f931-a23e-4126-874f-68e1bc73851b
Links are also broken @ https://open.canada.ca/data/en/dataset/dd18f931-a23e-4126-874f-68e1bc73851b
Note: no equivalent files available. Data preview has been temporarily disabled.

**2. Study establishing Canada's ranking in the citation sc

[2021-01-04 13:14] nfee006 commented on #69
NB. In the interest of not duplicating data, these issues must be addressed with Open Canada first.

[2021-01-08 18:10] nfee006 commented on #58
NB. this correction is only partial. Changing the "Data Explorer" text itself causes critical errors on @ data. This is likely because of how this text interacts with the resource_view table in the postgres database.

As such, this specific change has been reverted on @ data. Every element that could be translated without critical errors has been changed.

[2021-01-13 13:55] nfee006 opened #70 "List all file formats in facet"
Currently the search page facet only seems to list the 5 most common file types. We need to make it so that it lists all of them.
![image](https://user-images.githubusercontent.com/11013061/104461092-db63f980-557c-11eb-83ca-44b6fa7f62df.png)

[2021-01-13 13:59] nfee006 opened #71 "Data Explorer fullscreen grid"
When users click on the "Fullscreen" button on the Data Explorer page, the resulting table does not make very good use of the space.
![image](https://user-images.githubusercontent.com/11013061/104461475-60e7a980-557d-11eb-8e99-290552598b12.png)

Increase the size and legibility of this table to the greatest extent possible.

[2021-01-13 14:02] nfee006 opened #72 "Add data vs info flag"
The Open Canada site has a flag and search page filter that differentiates between info and data.

![image](https://user-images.githubusercontent.com/11013061/104461868-e53a2c80-557d-11eb-8807-8a8207a8c2ef.png)

Recreate this in our instance of CKAN.

[2021-01-13 14:07] nfee006 opened #73 "Data Explorer encoding"
Address the encoding issues on the Data Explorer page. It is currently unable to recognize accents etc...
![image](https://user-images.githubusercontent.com/11013061/104462286-609bde00-557e-11eb-90d3-13b70353bde0.png)

Example dataset: GO_Canada_Carte_Data_FR

[2021-01-13 14:09] nfee006 opened #74 "Modify "Data Category" filter name"
Change the "Data Category" filter name to be more descriptive.

![image](https://user-images.githubusercontent.com/11013061/104462780-fb94b800-557e-11eb-90a4-612b13928980.png)

[2021-01-13 14:13] nfee006 opened #75 "Add all available CSA data"
The current site only includes data harvested from Open Canada. We must add other CSA datasets from internal sources before publishing.

[2021-01-13 14:14] nfee006 opened #76 "Create keyword dictionary"
Work with the Open Data team to create a dictionary of approved keywords. Determine how to implement this in CKAN.

[2021-01-13 14:16] nfee006 opened #77 "Correct science_admin classification"
Correct the science_admin values assigned to each dataset following the Open Data team's list.

[2021-01-14 13:13] nfee006 opened #78 "Overhaul search page filters"
1. Remove "Subject" and "Resource Type" filters as they are repetitive and may be confusing for users. Keep "Collection Type".

2. The Open Canada site has a flag and search page filter that differentiates between info and data. Recreate this in our instance of CKAN.

![image](https://user-images.githubusercontent.com/11013061/104461868-e53a2c80-557d-11eb-8807-8a8207a8c2ef.png)

3. Change the "Dat

[2021-01-14 13:57] nfee006 commented on #78
There is overlap with https://github.com/asc-csa/ckanext-asc-csa/issues/74

[2021-01-14 13:57] nfee006 commented on #74
There is overlap with https://github.com/asc-csa/ckanext-asc-csa/issues/78

[2021-01-14 16:25] nfee006 commented on #76
Posting this for future reference: https://github.com/open-data/ckanext-canada/blob/master/ckanext/canada/schemas/presets.yaml#L335

[2021-01-14 19:21] nfee006 commented on #70
Resolved in master. Needs to be implemented on @ data.

[2021-01-14 19:35] nfee006 commented on #78
Tentatively addressed on my local machine. Waiting for feedback from the Open Data team before pushing to master.

[2021-01-15 13:24] nfee006 commented on #73
Note: relying on the datastore instead of data/resource proxy does not fix the issue.

[2021-01-15 14:03] nfee006 commented on #73
The issue does not appear to be linked to anything on our side - the file on the Open Canada site has encoding issues. I fixed these manually and reuploaded the file on my VM CKAN and it displayed properly.

![image](https://user-images.githubusercontent.com/11013061/104735079-2877d500-570f-11eb-9aef-0acf578a8c37.png)

You can verify this by downloading the file directly from Open Canada: https://

[2021-01-15 14:12] nfee006 commented on #59
Resolved on @ data. The solution was to avoid using either - we fixed SSL certificate issues in datapusher, allowing us to use the datastore instead of a proxy.

[2021-01-15 14:12] #59 closed

[2021-01-15 14:13] nfee006 commented on #72
Merging this into https://github.com/asc-csa/ckanext-asc-csa/issues/78

[2021-01-15 14:13] #72 closed

[2021-01-15 14:14] nfee006 commented on #74
Merging this into **https://github.com/asc-csa/ckanext-asc-csa/issues/78**

[2021-01-15 14:14] #74 closed

[2021-01-15 14:16] #73 closed

[2021-01-19 13:43] #78 closed

[2021-01-19 13:44] nfee006 commented on #70
Addressed in master and on @data following 28cad01fd25ffca92094f955caef628e7313f292.

[2021-01-19 13:45] nfee006 commented on #65
Addressed in master and on @ data following commits 0e3b94e and 3389ffd. We will likely need to make some tweaks once we get more feedback.

[2021-01-19 13:45] #65 closed

[2021-01-20 13:12] nfee006 opened #79 "Translation issues flagged by comms (3)"
7.  [langue]
En français, dans le bouton "Explorer > Plus d’information", traduire l’information qui est en anglais (ex. la section "There are no views. . . " dans la page https://data.asc-csa.gc.ca/fr/dataset/b586b5bbaef1-416f-8c79-bd7e6e18547d/resource/181c4007-76be-4a14-b0e4-f03a8a34db90 )

Faute de frappe dans la traduction : Le serveur ne trouve aucun réultat pour l'URL demandé

2)	[Langue Ty

[2021-01-20 13:14] nfee006 opened #80 "40. standard web - correct search page html issues"
40. [standard web]
Deux langues, si je passe la validation html sur la page qui liste les jeux de données, ça me donne des erreurs d'ouverture et fermeture html
Il y a encore des erreurs de tag form qui s'ouvre dans un form déjà ouvert et un div qui ne se ferme pas.

ex.  <form> pour le dropdown « Trier ». Ce form est à l’intérieur d’un autre form (nested form), non-permis en HTML. Le HTML ne vali

[2021-01-20 13:22] nfee006 opened #81 "41. [standard web Accessibilité] - dataset page HTML issues, various"
41. [standard web Accessibilité]
Fiche individuelle de données (exemples https://data.asc-csa.gc.ca/dataset/221c1c75-4c42-4286-a4ce-ca6c3027b7fe et https://data.asc-csa.gc.ca/fr/dataset/f813a44d-4cca-4647-a576-41312d8578c5), la validation html donne plusieurs erreurs :

a.	[Standard web]
il n’y a pas de guillemets pour la valeur d’attributs href sur des hyperliens, entraînant une erreur de validat

[2021-01-20 13:28] nfee006 opened #82 "41-i. Correct GoC links in header and footer"
i.	[Standard web]
Il semble y avoir des liens externes qui pointe vers des pages du GC qui ne semblent pas disponibles (erreur 500).
ex. https://www.registrelep-sararegistry.gc.ca/species/default_e.cfm, https://www.tc.gc.ca/eng/aviationsecurity/page-147.htm, https://international.gc.ca/world-monde/study_work_travel-etude_travail_voyage/authentication-authentification/index.aspx?lang=eng

[2021-01-20 13:31] nfee006 commented on #34
Reflagged by Comms on 19/01/2021

48. [Langue typo]
http://data.asc-csa.gc.ca:8080/fr/dataset
En français il devrait y avoir une espace insécable avant les deux points partout (ex. le menu déroulant pour trier « Par ordre », libellé « Organisation », libellé « Format des ressources » dans chaque fiche)

[2021-01-20 13:33] nfee006 opened #83 "Active filter text flows out of the facet"
1)	[Accessibilité] Quand un filtre avec un long libellé est sélectionné, l’affichage est mal fait. Le texte devrait commencer sur la même ligne que le checkbox et wrapper sur la 2e ligne lorsque trop long.

![image](https://user-images.githubusercontent.com/11013061/105181567-f644e980-5af9-11eb-8d65-472f43eba266.png)

[2021-01-20 13:35] nfee006 opened #84 "Translate resource name on Data Explorer page"
3)	[Langue]
En français, sous Extrait du résumé, la Source est en anglais "Astronautics Vocabulary", si c'est en français, le titre ici dans ces fiches devrait être en français. https://data.asc-csa.gc.ca/fr/dataset/5d31f5b8-8bd6-48fc-aad8-f4f054f83a09/resource/52fc9f2d-255f-4b8e-9aaf-6ed027690bf0

[2021-01-20 13:36] nfee006 commented on #68
Flagged by Comms on 19/01/2021

5)	[Accessibilité]
Certaines adresses Web dépasse de la boite « Additional Information ». Ex. le lien de RADARSAT-1 ici : http://data.asc-csa.gc.ca:8080/fr/dataset/bfb2331e-6d68-41c0-8cf4-c2e9c4d68eb7

[2021-01-20 14:12] nfee006 commented on #79
Addressed in master and on @ data with https://github.com/asc-csa/ckanext-asc-csa/commit/6c68683ff576fef717cee115aef4db235edfc4d6

1.
![image](https://user-images.githubusercontent.com/11013061/105186190-71f56500-5aff-11eb-980a-b60f437b6b48.png)

2.
![image](https://user-images.githubusercontent.com/11013061/105186223-7d489080-5aff-11eb-8d46-829b959e60e4.png)

3.
![image](https://user-images.githu

[2021-01-20 14:12] #79 closed

[2021-01-20 14:16] nfee006 commented on #75
Update: am working on a script to automate the importation of publishable DIIDS dataset metadata.

[2021-01-21 20:51] nfee006 commented on #83
Addressed on master and @ data with https://github.com/asc-csa/ckanext-asc-csa/commit/5735af157cf188bed90396d1763dbb3c59135a2a

![image](https://user-images.githubusercontent.com/11013061/105410845-8c633780-5c00-11eb-9687-449282a22850.png)

[2021-01-21 20:51] #83 closed

[2021-01-25 21:42] dreneuw opened #85 "Internal Server Error when creating new database."
Internal Server Error encountered when attempting to create a new database.
Occurred when manually transferring the Risk profile (OID-2018-00281) database from DIIDS to data.asc-csa.gc.ca. This was done on Internet Explorer through a Citrix environment.
The error occurred after pressing the button below:
![image](https://user-images.githubusercontent.com/56747050/105769213-7bc9fe80-5f2b-11eb-83c4-

[2021-01-28 13:14] nfee006 commented on #75
DIIDS datasets flagged as "eligible for release" == True have been added on @data CKAN. NB. that we were unable to track down links for a few of these datasets and, as such, I have set those to "private".

Datasets added from Open Canada have been cross-referenced to DIIDS and all extra available metadata has been added (DIIDS No, etc...).

All datasets from the asc-csa website have been added to

[2021-01-28 19:54] nfee006 commented on #85
Tentatively addressed server-side. Will need to monitor.

[2021-01-28 20:02] nfee006 commented on #57
Closing this issue because nothing appears to have been broken by this change. We have successfully made CSS modifications using the local theme.min.css file.

[2021-01-28 20:02] #57 closed

[2021-01-28 20:06] nfee006 opened #86 "Implement resource data file naming standards"
Pulled from Comms review:

41.b [Standard web]
il ne doit pas y avoir d’espace dans les nom de fichiers vers lesquesl un hyperlien pointe : ex.
<a href="https://data.asc-csa.gc.ca/users/OpenData_DonneesOuvertes/pub/AlouetteData/Data specifications Alouette-I_FR.docx">Audit interne</a>

There is also a discussion to be had regarding whether or not we want to continue allowing MS Suite documents at

[2021-01-29 14:38] nfee006 commented on #81
a,c,d,f and h were addressed in https://github.com/asc-csa/ckanext-asc-csa/commit/902aac89588e4a21cf7370e253c6372f264fe100

Both b and i have been flagged as separate issues (https://github.com/asc-csa/ckanext-asc-csa/issues/86, https://github.com/asc-csa/ckanext-asc-csa/issues/82)

e, g, and j remain.

[2021-01-29 14:50] nfee006 commented on #85
Marking as resolved because the issue has not reappeared in past day.

[2021-01-29 14:50] #85 closed

[2021-01-29 14:55] nfee006 commented on #81
Note on sub-issue b: this particular line of code comes directly from the GoC implementation of CKAN. It appears as-is on the public Open Canada site.

We are not using this particular feature at the moment and it would require more resources to test for functionality and accessibility (it does not appear to work out-of-the-box) etc... I am, however, choosing to keep it as-is for now. When we have

[2021-01-29 15:33] nfee006 commented on #81
g addressed in https://github.com/asc-csa/ckanext-asc-csa/commit/1370d5959a603736932e56941fb8087e6e3fc914

Only j remains.

[2021-01-29 15:44] nfee006 commented on #81
I am closing this and making j a separate issue.

[2021-01-29 15:44] #81 closed

[2021-01-29 15:44] nfee006 opened #87 "Web standards - input element should be empty"
j. [Standard web]
L’élément « input » ne devrait pas contenir de valeur (ex. https://data.asc-csa.gc.ca/dataset/221c1c75-4c42-4286-a4ce-ca6c3027b7fe ligne 111)
<input type="hidden" name="_charset_" value="UTF-8">

[2021-01-29 15:45] #63 closed

[2021-02-01 14:22] nfee006 commented on #77
Waiting for input from the Open Data team.

[2021-02-01 14:23] nfee006 commented on #76
For future reference as well: can we get rid of all "Canadian Space Agency" / "CSA" keywords? It makes sense in the context of the Open Canada site but seems redundant for our purposes.

![image](https://user-images.githubusercontent.com/11013061/106471003-3186d700-646f-11eb-906e-08a4188200f8.png)

[2021-02-01 19:00] nfee006 commented on #84
Implemented in master with https://github.com/asc-csa/ckanext-asc-csa/commit/cf05413ea40152cd200f2c503444a5ecc71f3e87. Implemented on @ data as well.

![image](https://user-images.githubusercontent.com/11013061/106505057-c69cc680-6495-11eb-9c53-0923dd21672d.png)

[2021-02-01 19:00] #84 closed

[2021-02-02 16:56] dreneuw commented on #58
Attempt at solving this issue:

The following was attempted on a local installation:

This resulted in the same issues as mentioned above. It was investigated that maybe the french translation was missing or was incorrectly linked but the correct translation is found at:
ckan\ckanext\csa\i18n\fr\LC_MESSAGES
And:
ckanext-asc-csa\ckanext\csa\i18n\fr\LC_MESSAGES
It does not seem that it is incorrectl

[2021-02-03 15:25] nfee006 commented on #87
Stems from the GoC header

[2021-02-03 17:11] dreneuw commented on #80
a3c4668c0ffbc9e38d3362458b6989531b2597b7 fixes this issue by adding a closing tag to the form element (</form>). This still needs to be tested on the production server.

[2021-02-04 20:22] nfee006 commented on #80
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/a3c4668c0ffbc9e38d3362458b6989531b2597b7,  https://github.com/asc-csa/ckanext-asc-csa/commit/0330da75759d0fbddd60a0d1d739ad451fd2bd35, and https://github.com/asc-csa/ckanext-asc-csa/commit/ad5616a585390386511c122e431b4d62b814f7f5.

W3 now only flags the following:
![image](https://user-images.githubusercontent.com/11013061/106950662-ba

[2021-02-04 20:22] #80 closed

[2021-02-04 20:23] nfee006 commented on #75
The Open Government team is reviewing this,

[2021-02-04 20:25] nfee006 commented on #34
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/7253b578c10efb257f8d92dc87b937607d48082e

[2021-02-04 20:25] #34 closed

[2021-02-05 19:08] nfee006 commented on #53
Addressed on @ data. The missing datasets were:

MOPITT - measurements of pollution in the troposphere
Executive summary - Privacy Assessment - 2016 Astronaut Recruitment Campaign
Canadian Space Agency's 2017-2018 Departmental Plan

The 2 following new datasets were also added

Transition book for the new President of the Canadian Space Agency
2020-2021 Quarterly Financial Report

[2021-02-05 19:08] #53 closed

[2021-02-05 19:09] nfee006 commented on #54
Added on @ data.

"BRITE Constellation"

[2021-02-05 19:09] #54 closed

[2021-02-05 19:16] nfee006 commented on #28
Checked with W3 - both URL and file upload. Only javascript type attribute warnings remain:

![image](https://user-images.githubusercontent.com/11013061/107078305-21972c00-67bc-11eb-8047-c771828cbb63.png)

This will not be addressed as it would require edits to vanilla CKAN. It is a warning based on HTML5 standards and not an error.

[2021-02-05 19:16] #28 closed

[2021-02-05 19:32] nfee006 commented on #55
A private dataset has been created. It will need approval from the Open Government team prior to publication.

The dataset is called: "PLACEHOLDER-- UVIT on ASTROSAT". It has been populated with all available metadata.

[2021-02-05 19:32] #55 closed

[2021-02-05 19:35] nfee006 commented on #52
NB J-Bytes comment is addressed in https://github.com/asc-csa/ckanext-asc-csa/issues/53.

[2021-02-05 19:42] nfee006 commented on #27
W3 now only flags the following (js type warning):
![image](https://user-images.githubusercontent.com/11013061/106950662-ba667280-66fc-11eb-8fdc-72ab2466919d.png)

This will not be addressed as it would require edits to vanilla CKAN. It is a warning based on HTML5 standards and not an error.

[2021-02-05 19:42] #27 closed

[2021-02-05 19:43] nfee006 commented on #26
Closing this because it is a duplicate of https://github.com/asc-csa/ckanext-asc-csa/issues/80 and has been addressed.

[2021-02-05 19:43] #26 closed

[2021-02-05 19:44] nfee006 commented on #24
Closing this because it is a duplicate of https://github.com/asc-csa/ckanext-asc-csa/issues/58

[2021-02-05 19:44] #24 closed

[2021-02-08 14:33] nfee006 commented on #82
For future reference:
![image](https://user-images.githubusercontent.com/11013061/107233372-83d87280-69f0-11eb-8eca-0e640f0f1948.png)

NB. CKAN does not currently meet this standard because it doesn't have a theme and topic menu https://design.canada.ca/common-design-patterns/global-header.html#how

[2021-02-09 14:03] nfee006 commented on #86
Changing file names right now will break backwards compatibility with the legacy FTP and will break links on Open Canada. It is preferred that we wait until after the decommissioning of the legacy FTP before changing any file names.

[2021-02-10 13:49] nfee006 commented on #87
The only instance of "input" on this page is taken (without modification) from the approved version of the GoC header.

``
<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder= "Search Canada.ca">
 ``

Input itself is not associated with a value. I am considering this issue closed.

[2021-02-10 13:49] #87 closed

[2021-02-10 13:50] nfee006 commented on #82
This has been addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/a593e9f06757165811367e5f0885f75d8e1a490b. Please view the commit message for additional information.

[2021-02-10 13:50] #82 closed

[2021-02-10 14:12] nfee006 opened #88 "Numerous validation errors with the GoC header"
![image](https://user-images.githubusercontent.com/11013061/107520781-c9777580-6b7f-11eb-8dce-bbea841ed9a1.png)
![image](https://user-images.githubusercontent.com/11013061/107520836-d4320a80-6b7f-11eb-825d-535da82d3706.png)
![image](https://user-images.githubusercontent.com/11013061/107520894-e6ac4400-6b7f-11eb-8265-dff535a60c4d.png)
![image](https://user-images.githubusercontent.com/11013061/1075

[2021-02-10 14:41] nfee006 commented on #88
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/ad4a9096f7a19161c3425331c0b6b182b36135c2

[2021-02-10 14:41] #88 closed

[2021-02-10 14:51] nfee006 commented on #68
Can confirm that this does not affect Edge. Please note that IE is approaching the end of its lifecycle (technical support to cease in Aug 2021). As such, I am closing this issue.

![image](https://user-images.githubusercontent.com/11013061/107525299-b4e9ac00-6b84-11eb-8b9d-1c99303636f5.png)

[2021-02-10 14:51] #68 closed

[2021-02-10 16:10] nfee006 commented on #75
Approved by the Open Government team.

[2021-02-10 16:10] #75 closed

[2021-02-12 21:02] nfee006 commented on #31
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/4a421b8c83db46861a1293403cd10b2709a626ac

[2021-02-15 15:29] nfee006 commented on #31
Implemented in master and on @ data.

![image](https://user-images.githubusercontent.com/11013061/107965437-8733a700-6f78-11eb-9565-b3bc21efc587.png)

![image](https://user-images.githubusercontent.com/11013061/107965504-9ca8d100-6f78-11eb-9d16-3f8b7f0d16c0.png)

A nav element was added as well for good measure.
![image](https://user-images.githubusercontent.com/11013061/107965563-b0543780-6f78-11

[2021-02-15 15:29] #31 closed

[2021-02-15 15:30] nfee006 commented on #77
Verified by Open Data Team.

[2021-02-15 15:30] #77 closed

[2021-02-15 15:41] nfee006 commented on #19
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/4a421b8c83db46861a1293403cd10b2709a626ac and https://github.com/asc-csa/ckanext-asc-csa/commit/1fec6183a7edb3be139322fe97f3809cab0ec8d2.

As J-Bytes mentioned, iframes do not have alt-text attributes. They do, however, support titles. According to https://dequeuniversity.com/tips/provide-iframe-titles

“Iframes usually do not cause acc

[2021-02-15 15:46] nfee006 commented on #58
This was addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/86e59e508cf95f8b6d77677497ac827865153778 as well as local edits to the recline.js file in vanilla CKAN (https://github.com/ckan/ckan/blob/aa32b2379a5b2e52d3c95e4e985719f70a3bd0d5/ckanext/reclineview/theme/public/vendor/recline/recline.js). This edited recline.js file will be uploaded to livelink and made available on github.

[2021-02-15 15:46] #58 closed

[2021-02-15 17:52] nfee006 commented on #19
Slight correction: images on the Data Explorer page are not in fact within iframes. Alt-text has been added to these images in https://github.com/asc-csa/ckanext-asc-csa/commit/eba7f3df150b1ffa68f2246de4a7287dfbadf081.

[2021-02-15 17:52] #19 closed

[2021-02-15 19:35] nfee006 commented on #86
The immediate issue (spaces in filenames) has been addressed by creating correctly-named copies on the files on @ data.

We should keep file naming and file type standards in mind going forward. I am, however, considering this issue closed.

[2021-02-15 19:35] #86 closed

[2021-02-17 17:44] nfee006 opened #89 "Verify translations in search page filters/facets"
Example:
![image](https://user-images.githubusercontent.com/11013061/108244975-c7805a00-711d-11eb-9284-9a3314bd0937.png)

This needs a thorough review.

[2021-02-18 19:12] nfee006 commented on #89
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/4abed031794c59272b43332696defcb1f7d084a0

[2021-02-18 19:12] #89 closed

[2021-02-18 19:13] nfee006 opened #90 "Upgrade to CKAN 2.9"
Including all necessary changes including refactoring to Python 3.

[2021-02-23 15:34] nfee006 commented on #90
**Considerations**

- Python 2 elements will need to be recoded in Python 3
- This will require a database upgrade
- It is recommended that we upgrade the solr schema
- All metadata from the existing portal will need to be transferred
- “Implementation of an organization structure that reflects the CSA organization structure”
- We need to ensure that our ancillary tools will continue to work, incl

[2021-02-25 14:05] nfee006 opened #91 "7) [Standard web + Accessibilité] Correct header order"
"Pour la page de recherche ET de détails d’un jeu de donnée, le H1 doit être un des premiers éléments après l’ouverture de la balise <main>, de façon à englober tout le contenu qu’il dessert, donc tout ce qui se trouve après. Le H1 doit être le titre de toute la page, et non uniquement d’une portion du contenu. Il peut être statique et générique (« Jeux de données ») ou être un peu plus spécifique

[2021-02-25 14:11] nfee006 opened #92 "8)[Accessibilité] #field-giant-search missing label"
"Le input « #field-giant-search » doit être précédé d’un `<label>`. Utiliser la classe « wb.inv » si le label doit être caché."

[2021-02-25 14:18] nfee006 opened #93 "9) [Accessibilité] Fix the API page"
"Pour la page de l’API (https://data.asc-csa.gc.ca/fr/API), si le `<aside>` est vide, le contenu doit être complètement à gauche, il ne doit pas y avoir un espace vide."

For the API page (https://data.asc-csa.gc.ca/fr/API), if the `<aside>` is empty, the content must be completely to the left. There should not be any blank space.

[2021-02-25 14:27] nfee006 opened #94 "10) [Accessibilité] Improvements to main pagination nav"
"Pour la pagination, ajouter la classe « active » sur le `<li>` de la page en cours. Ça mettra le bouton en bleu en plus de le désactiver. Ajouter aussi « current/page actuelle » dans le libellé accessible.
https://wet-boew.github.io/wet-boew-styleguide/design/pagination-en.html#active
"

For the pagination, add the class « active » on the `<li>` of the current page. This will turn the button blue

[2021-02-26 15:37] nfee006 opened #95 "12) Web Standards - Analytics code"
Add Google and Adobe Analytics code.

[2021-02-26 20:07] nfee006 commented on #94
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/500ef81b5b9828e44ae97e5d1683e85da3ebae4f in master and on @ data

[2021-02-26 20:07] #94 closed

[2021-03-01 13:08] nfee006 commented on #92
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/0268b361122083aabb75e9febff79b0bb7e4cb3f

[2021-03-01 13:08] #92 closed

[2021-03-01 13:51] nfee006 opened #96 "W3 validator - all pages"
All pages must pass the W3 validator without any errors. https://validator.w3.org/

[2021-03-02 15:52] nfee006 commented on #96
I am currently working on addressing the issues in the header/footer.

[2021-03-02 15:54] nfee006 commented on #93
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/c0d5684901afdc6d8b3a0298d0d140498fec302d

[2021-03-02 19:10] nfee006 commented on #96
One error remains, caused by https://www.international.gc.ca/world-monde/index.aspx?lang=eng in the header. I’ve tried encoding the equals sign differently (%3d) but that did not help.
![image](https://user-images.githubusercontent.com/11013061/109701339-e391eb80-7b60-11eb-921e-597d9f0bc8a9.png)

Several warnings remain but it’s not clear if these can be fixed without making changes to vanilla CKA

[2021-03-02 19:12] nfee006 commented on #93
Breadcrumbs are missing. This needs to be fixed.
![image](https://user-images.githubusercontent.com/11013061/109701667-44b9bf00-7b61-11eb-8472-63a9d9ed7641.png)

[2021-03-03 13:59] coleweusthem commented on #96
Investigating

[2021-03-03 14:20] coleweusthem commented on #96
Closed pending review of solution

[2021-03-03 14:20] #96 closed

[2021-03-04 14:31] coleweusthem commented on #95
Have created a pull request to address this issue #101

[2021-03-04 14:31] coleweusthem commented on #91
Investigating this

[2021-03-04 14:58] coleweusthem commented on #93
Closing as pull request to solve was merged

[2021-03-04 14:58] #93 closed

[2021-03-04 15:15] coleweusthem commented on #91
I'm unable to find an occurrence of this issue so I'm closing this issue. If an occurrence is found please provide an example and reopen.

[2021-03-04 16:11] nfee006 commented on #91
Does this clarify at all?
"For the search page and the dataset detail pages, the H1 must be one of the first elements after opening <main>, in order to encompass all of the content on the page. The H1 must be the title of the entire page and not only a part of the content. It can be static and generic (« datasets ») or be a little more specific. Which dataset does it refer to? The number of search

[2021-03-05 15:11] nfee006 commented on #91
@coleweusthem
Inspiration from the Government-wide portal https://search.open.canada.ca/en/od/?od-search-subjects=Agriculture&_ga=2.5206451.1274975115.1614954864-797425555.1606752517

**Search page**
CSA Open Government Portal / Portail du gouvernement ouvert de L'ASC
![image](https://user-images.githubusercontent.com/11013061/110130367-ebd36c00-7d96-11eb-9786-c295d53ddcb3.png)

![image](https://u

[2021-03-05 15:34] coleweusthem commented on #91
Thanks for the additional info. I'll look into rearranging as you had suggested.

[2021-03-05 16:03] nfee006 commented on #91
@coleweusthem

In a similar vein, would it be possible to change the breadcrumbs so that they reflect these H1 please? I can create a new issue if need be.

Instead of Open Data/Données ouvertes -> Open Government/Gouvernement ouvert

[2021-03-05 16:15] coleweusthem commented on #91
I was reviewing the policy, and the better solution may be to shift the "main" role to the element with the h1 in it. The role is meant to highlight the main content on the page to screen readers and similar tools. Currently it seems to wrapping everything not in the header and footer. I would consider the area with the h1 currently the main content, or at least the area below the breadcrumb. If t

[2021-03-05 16:37] coleweusthem commented on #91
And to clarify for the breadcrumbs you would want for the example above to read 'Canada.ca / Canadian Space Agency / Open Data / MOPIT - Measurements of Pollution in the Troposphere'? I'm currently figuring out how to make it happen.

[2021-03-05 16:45] nfee006 commented on #91
If you think that's in-line with the policy then go for it (could you provide a link so I can forward to comms please?). I still think it would make the most sense to change the H1 on the search page to "CSA Open Government Portal / Portail du gouvernement ouvert de L'ASC" since the number of datasets found is not particularly descriptive. Your fix would be suitable for the dataset page though I b

[2021-03-05 16:49] coleweusthem commented on #91
I'll move the header on the search page then. Here are the links:
https://www.w3.org/TR/wai-aria-practices/examples/landmarks/main.html
https://www.w3.org/TR/wai-aria-1.0/roles#main

And thanks for that commit, thats what I'm trying to figure out so that may speed things up.

[2021-03-11 15:25] nfee006 opened #104 "Store all theming assets locally"
Certain remote GC theme assets have started causing 404 errors. CSS is stored locally but the Government of Canada icon (for example) is not.

![image](https://user-images.githubusercontent.com/11013061/110810673-06548c00-8254-11eb-9a1f-26515c931612.png)

[2021-03-11 18:28] nfee006 commented on #104
Addressed by https://github.com/asc-csa/ckanext-asc-csa/commit/c40ed98a86173e2f1dba93ff18d831db4ae3b1b0

[2021-03-11 18:28] #104 closed

[2021-03-11 20:59] nfee006 commented on #95
Addressed by https://github.com/asc-csa/ckanext-asc-csa/pull/101 and merged into master. We will need to include the analytics code on the server in the html template files provided.

[2021-03-11 20:59] #95 closed

[2021-03-11 21:00] nfee006 commented on #91
Addressed by https://github.com/asc-csa/ckanext-asc-csa/pull/102 and merged into master.

[2021-03-11 21:00] #91 closed

[2021-03-16 16:51] nfee006 opened #105 "13) accessibility (pagination aria-label)"
In the pagination, the  « aria-label » attribute needs to be in the <a> rather than in the `<li>`

ex. https://data.asc-csa.gc.ca/dataset
`<li aria-label="(current) Go to page 1" class="active"><a href="/dataset?page=1">1</a></li>`

N.B. the pagination is set in https://github.com/asc-csa/ckanext-asc-csa/blob/master/ckan/lib/helpers.py, starting at line 1345. This file must overwrite ckan/lib/help

[2021-03-16 16:54] nfee006 opened #106 "14) Web Standards - issue with data-ajax-replace"
There is a « # » at the start of the URL of the « data-ajax-replace » attribute, which causes a JavaScript error.

ex. https://data.asc-csa.gc.ca/dataset
`<ul role="menu" aria-orientation="vertical" data-ajax-replace="#https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">`

N.B. the french alternative is https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-fr.html

[2021-03-16 19:41] coleweusthem commented on #105
should be addressed by #107

[2021-03-16 19:42] coleweusthem commented on #106
should be fixed with #107

[2021-03-16 20:04] nfee006 commented on #106
Confirmed.

[2021-03-16 20:04] #106 closed

[2021-03-16 20:04] nfee006 commented on #105
Confirmed.

[2021-03-16 20:04] #105 closed

[2021-03-17 18:11] low-decarie opened #109 "Enable tracking and reporting of publication that cite a given data set"
PID /DOI dependant: https://github.com/asc-csa/ckanext-asc-csa/issues/110

[2021-03-17 18:15] low-decarie opened #110 "Ensure each dataset is associated with a PID such as DOI"
Ensuring each dataset has a PID to ensure downstream tracking of use

[2021-03-17 18:18] low-decarie opened #111 "Add "How to cite this data set" information"
Provide information on how to cite dataset primarily in downstream scientific publications, ideally with a PID such as a DOI  https://github.com/asc-csa/ckanext-asc-csa/issues/110

[2021-03-17 18:55] nfee006 commented on #110
For future reference: https://extensions.ckan.org/extension/doi/ (though creating the DOI requires a paid DataCite membership).

[2021-03-17 19:11] nfee006 opened #112 "Add preview filter to search page?"
Allow a filter to the search page facet that would allow users to see all datasets that have previsualization enabled or disabled.

This is already a metadata tag ("preview") so it should just be a matter of adding it to https://github.com/asc-csa/ckanext-asc-csa/blob/master/ckanext/csa/templates/snippets/dataset_facets.html and https://github.com/asc-csa/ckanext-asc-csa/blob/master/ckanext/csa/pl

[2021-05-12 13:54] nfee006 opened #121 "Implement the "share this page" button"
Earlier attempts have been unsuccessful, likely due to interactions between the JS libraries used by wet-boew and by dash (see https://github.com/open-data/ckanext-canada/issues/1191).

![image](https://user-images.githubusercontent.com/11013061/117986921-0e8a7f80-b308-11eb-987e-9ce8ea2b5a0e.png)

[2021-05-12 13:57] nfee006 commented on #121
See also https://github.com/asc-csa/AlouetteApp/issues/128 and https://github.com/asc-csa/Scisat-App/issues/137

[2021-05-19 14:36] nfee006 commented on #90
@coleweusthem had you seen this?

[2021-05-19 14:38] coleweusthem commented on #90
@nfee006, I don't believe I had. Thanks for flagging it.

[2021-05-27 16:58] nfee006 commented on #90
FYI for when migrating to Ubuntu 20.04

https://github.com/ckan/ckan/issues/5919#issuecomment-849733312

Doesn't matter too much if we use tomcat or jetty though.

[2021-05-27 17:03] coleweusthem commented on #90
I've been using tomcat9 as it's what the CKAN docs were recommending

[2021-05-27 17:07] nfee006 commented on #90
Perfect - that's what I have too.

[2021-05-28 14:19] nfee006 opened #122 "500 Server error in CKAN 2.9"
![image](https://user-images.githubusercontent.com/11013061/119997717-05eba780-bf9e-11eb-921b-1dde0b00e79e.png)

Displays instead of API page as well as in place of 404 pages.

Trying to determine if it's related to https://github.com/ckan/ckan/issues/4791

FYI, @coleweusthem

[2021-05-28 14:39] coleweusthem commented on #122
whats the url to get that? I don't have much in the way of documentation for the API or what it does

[2021-05-28 14:43] nfee006 commented on #122
It's just this: http://127.0.0.1:5000/en/API
![image](https://user-images.githubusercontent.com/11013061/120000927-4ef12b00-bfa1-11eb-85cd-2dbd8609145a.png)
Should look like this

![image](https://user-images.githubusercontent.com/11013061/120001202-8a8bf500-bfa1-11eb-9912-ccbe6583d1df.png)

It's just the vanilla CKAN API though, we haven't changed anything. https://docs.ckan.org/en/2.9/api/

[2021-05-28 17:15] nfee006 commented on #122
Update: also occurs when trying to create a new dataset manually.

When clicking on this button on the dataset creation page
![image](https://user-images.githubusercontent.com/11013061/120019668-bb2a5980-bfb6-11eb-89ef-e066b1283171.png)

[2021-05-28 17:53] nfee006 commented on #122
Broken pages:
- [ ] API - http://127.0.0.1:5000/en/API
- [ ] Add dataset - http://127.0.0.1:5000/en/dataset/new
- [ ] Add resource - when you click "submit" on this page (example) http://127.0.0.1:5000/en/dataset/testmg/resource/new
- [ ] Data explorer page - (example) http://127.0.0.1:5000/en/dataset/35103995-4m2o-7a0i-964fusc106cj97/resource/0efe8d2f-6d59-491e-b68c-43265205ba60

[2021-05-28 17:56] coleweusthem commented on #122
@nfee006, I think they all stem from the same issue. Seems like something from the CSA themeing it breaking something, if I remove both plugins the error pages work. Still trying to isolate where the problem is coming from as the errors aren't really helping narrow it down.

[2021-05-28 18:10] nfee006 commented on #122
Doing the same thing on my side, haven't found a solution yet.

Highly recommend setting debug = true in ckan.ini and then running pip install -r /usr/lib/ckan/default/src/ckan/dev-requirements.txt in you venv.

[2021-05-28 18:13] coleweusthem commented on #122
that error actually looks useful. I'll look into that one. Let me know if you figure out the 404 issue.

[2021-05-28 18:25] coleweusthem commented on #122
@nfee006, could you give me an example of how I get to the "data explorer" and get that error you found?

[2021-05-28 18:28] nfee006 commented on #122
Data explorer page - (example) http://127.0.0.1:5000/en/dataset/35103995-4m2o-7a0i-964fusc106cj97/resource/0efe8d2f-6d59-491e-b68c-43265205ba60

It isn't enabled for every dataset though. Generally look for a csv resource - Go Canada is a good one.
![image](https://user-images.githubusercontent.com/11013061/120027011-da2de900-bfc0-11eb-8b9c-7a1e9bf6145f.png)

I'm around if you want to have a quick

[2021-05-28 18:29] coleweusthem commented on #122
@nfee006, Thanks, that's what I was looking for. I'll let you know when I push a change

[2021-05-28 18:30] nfee006 commented on #122
just in case you missed this one in the flurry of comments. Doesn't seem to be the same issue on every page

[2021-05-28 18:53] coleweusthem commented on #122
<img width="1226" alt="Screen Shot 2021-05-28 at 3 52 58 PM" src="https://user-images.githubusercontent.com/46227765/120029668-c8524300-bfcc-11eb-93d2-f0c6aed4c89f.png">
Do you know if the data explorer itself is working for this resource?

[2021-05-28 19:03] nfee006 commented on #122
The fact that you even got to that page is great.

It would need to be in the datastore -ie. but - I assume you're working off network? if I were you, I'd take one of the test datasets and replace the resource URL with something freely available on the web (you could try https://open.canada.ca/data/dataset/dd18f931-a23e-4126-874f-68e1bc73851b/resource/21800371-03f9-434c-8c7b-6039d45a25bf/download/

[2021-05-28 19:42] coleweusthem commented on #122
for the add dataset page, is it the page or the submission casing the issue? Mines loading fine and I don't think I've done anything.

[2021-05-28 19:43] nfee006 commented on #122
It's the submission

[2021-06-01 14:49] nfee006 opened #123 "Malfunctioning license selection in CKAN 2.9"
License selection appears as an empty dropdown

![image](https://user-images.githubusercontent.com/11013061/120343812-069a7b80-c2c7-11eb-83ec-a7d0d678a772.png)

Any luck with this @coleweusthem?
This might be useful info: https://github.com/ckan/ckanext-scheming/issues/207

[2021-06-01 14:51] coleweusthem commented on #123
@nfee006, no luck yet, works if I turn off the CSA extensions though, so I'm looking at the ckan version of scheming to see if they are doing something different

[2021-06-01 14:52] nfee006 opened #124 "Accessible pagination for CKAN 2.9"
This will need to be reimplemented with the new helpers.py

![image](https://user-images.githubusercontent.com/11013061/120344212-63963180-c2c7-11eb-81f1-fe4f8a484307.png)
Note: screenshot from the search page

@coleweusthem

[2021-06-01 14:55] nfee006 commented on #123
Can't tell if this is relevant but just in case: https://github.com/ckan/ckanext-scheming/issues/277

[2021-06-01 17:27] coleweusthem commented on #123
@nfee006, I've got licenses showing but there are only 2 showing from the list, it seems like there is some kind of filter. Is this intentional?
<img width="615" alt="Screen Shot 2021-06-01 at 2 26 53 PM" src="https://user-images.githubusercontent.com/46227765/120365935-6acc3800-c2e5-11eb-94aa-a6210715fe3f.png">

[2021-06-01 17:47] nfee006 commented on #123
Great! Yeah, I saw the filter too. I'm sending an email to the person who manages the CSA metadata/licenses to check.

What was the solution by the way?

[2021-06-01 17:49] coleweusthem commented on #123
I had to replace most of the plugin with the latest code from the CKAN version

[2021-06-01 18:27] nfee006 commented on #123
I just pulled your latest edits on the python 3 branch - fixed the license issue on my side as well. I did notice a new scheming issue but I'll make a new issue.

I'm still waiting to hear back regarding the license filter but I think we can leave it as-is for now. I just tested it and I'm easily able to remove the filter if need be (for my future reference, that edit must be applied to the preset

[2021-06-01 18:28] nfee006 opened #125 "Resource page - resource relationship is now mandatory?"
When you go to create a new resource or edit an existing one, you must now specify these two fields:

![image](https://user-images.githubusercontent.com/11013061/120372800-a404a800-c2e5-11eb-9baa-3dc7974f0888.png)

These shouldn't be mandatory. They weren't before, not sure when that snuck in.

[2021-06-01 18:40] nfee006 commented on #125
Same for Division on the dataset creation page

![image](https://user-images.githubusercontent.com/11013061/120374172-39546c00-c2e7-11eb-9bd4-95628423ece2.png)

[2021-06-01 19:02] nfee006 opened #126 "Enabling the Data Explorer page in CKAN 2.9"
The best I've been able to get is this.

![image](https://user-images.githubusercontent.com/11013061/120375709-14f98f00-c2e9-11eb-826f-ff7555f829fa.png)

That's using a publicly available dataset with DataProxy. I still haven't been able to get datapusher/datastore working properly in 2.9.

Have you had any luck with this @coleweusthem?

[2021-06-01 19:34] nfee006 commented on #126
This may be related. I got this traceback when I created a new resource with the datapusher running. Seems that something went wrong when it tried to push the csv from the public file to the datastore.

![image](https://user-images.githubusercontent.com/11013061/120380011-99024580-c2ee-11eb-9e80-8520eb75f6a5.png)
![image](https://user-images.githubusercontent.com/11013061/120380090-b6cfaa80-c2ee-1

[2021-06-01 19:40] coleweusthem commented on #126
can you give me the steps you took to get this?

[2021-06-01 19:52] nfee006 commented on #126
1. Create a new dataset. http://127.0.0.1:5000/dataset/new
![image](https://user-images.githubusercontent.com/11013061/120381600-a9b3bb00-c2f0-11eb-9756-53b329ad1dcc.png)

2. Fill in and submit the dataset creation form (button at the bottom of the page).
![image](https://user-images.githubusercontent.com/11013061/120381739-d36ce200-c2f0-11eb-8b44-1c293e14ca35.png)

3. Fill in and submit the resou

[2021-06-02 13:09] nfee006 commented on #126
@coleweusthem I tried it again just now (same steps as above) and the error came back. Not clear why it's inconsistently doing so.

![image](https://user-images.githubusercontent.com/11013061/120485553-38bce380-c382-11eb-9fc4-9031c71a1fc5.png)

[2021-06-02 19:24] nfee006 commented on #122
Same pkg_dict issue appearing when I use the search page "order by" tool

![image](https://user-images.githubusercontent.com/11013061/120540362-9a974080-c3b6-11eb-930d-ff6cbad8d859.png)

[2021-06-02 19:25] coleweusthem commented on #122
another piece to the puzzle. Thanks @nfee006, that might help narrow it down

[2021-06-03 12:51] coleweusthem commented on #125
@nfee006, can I move the json files for the scheming into the scheming plugin? I think I've got the this straightened out, but it doesn't make sense to me that it spread over 2 repositories

[2021-06-03 13:01] nfee006 commented on #125
@coleweusthem - go for it. Not quite sure why it was done that way in the first place.

[2021-06-03 14:57] coleweusthem commented on #125
@nfee006, pushed the change, you'll need to fix the scheming settings in your config file:

scheming.dataset_schemas = ckanext.scheming:ckan_dataset.json
 ckanext.csa:info.json ckanext.csa:doc.json
scheming.presets = ckanext.scheming:presets.json
 ckanext.fluent:presets.json

[2021-06-03 15:14] nfee006 commented on #125
Didn't break anything on my side and seems to have fixed the relationship type/related record issue/division issue.

These fields are now popping up as required as well (below). I cross-referenced with our prod server and the ones I've highlighted are not required there. Would it be possible to make them optional please? I worry that it may cause some issues when we migrate the metadata.  Thanks!

[2021-06-03 15:18] nfee006 opened #127 "Curate organizations list"
Do we really need to import every GoC organization with https://github.com/asc-csa/ckanext-asc-csa/blob/master/transitional_orgs.jsonl? To discuss with the CSA Open Government team.

[2021-06-03 16:38] coleweusthem commented on #125
@nfee006, I think i've got those optional now

[2021-06-03 17:11] nfee006 commented on #125
@coleweusthem looks great on my side. No other issues to flag for this.

[2021-06-03 19:01] coleweusthem commented on #126
@nfee006, For the data explorer at the top of this issue, did you try a dataset that works for sure in the old version? I've tried the one you attached above and best I got was a loading gif that keeps spinning for the data explorer, which is definitely different from what you see.

[2021-06-03 19:19] nfee006 commented on #126
@coleweusthem yeah, the dataset works for sure on the old one. I just tried it again with https://open.canada.ca/data/dataset/0176458c-553b-48b4-a5e2-492022c81e85/resource/b335e213-16e9-4755-8125-a22b55319cb5/download/go_canada_carte_data_fr.csv (which I also know works) and it was the same.

You might already know this, but a quick summary of how the data is served on that page:

1. If the resour

[2021-06-07 19:46] nfee006 commented on #122
FYI @coleweusthem

The 404 issue does seem to be resolved with your recent edits - great work!

FYI though, I'm now getting this error when I create a new dataset (same as https://github.com/asc-csa/ckanext-asc-csa/issues/122#issuecomment-850558106)

![image](https://user-images.githubusercontent.com/11013061/121078936-8634b880-c7a7-11eb-802c-0de31a51aa51.png)

[2021-06-07 19:48] coleweusthem commented on #122
@nfee006, hmmmm, alright maybe I fixed it wrong haha. let me look into it.

[2021-06-07 19:57] nfee006 commented on #122
Should've probably has given you this as well:

![image](https://user-images.githubusercontent.com/11013061/121080143-0c053380-c7a9-11eb-8080-072f2e824328.png)

From the same traceback as my last comment

[2021-06-09 13:56] nfee006 commented on #122
Dataset and resource creation pages now work

[2021-06-09 13:58] coleweusthem commented on #122
I'm working on sorting atm, it's strange that the search field works but the sorting doesn't, they seem to be connected functionality

[2021-06-09 13:59] nfee006 commented on #122
Spoke a bit too soon for the resource creation page. It works as long as you don't put a URL that it needs to try to push to the datastore. Example https://open.canada.ca/data/dataset/f781b1ff-1205-4e94-93c8-dbb3b8e5973c/resource/f2c7ba28-ed9a-4feb-9bab-9168ccd0e153/download/presentation-csv.csv

![image](https://user-images.githubusercontent.com/11013061/121368787-543b6780-c909-11eb-9242-8396a86d

[2021-06-09 14:00] coleweusthem commented on #122
alright, I plan on tackling that next

[2021-06-09 14:07] nfee006 commented on #122
Aaand the dataset creation page error is back intermittently. Does it work on your side?

When you click on this button

![image](https://user-images.githubusercontent.com/11013061/121370187-80a3b380-c90a-11eb-873a-956f53248912.png)

![image](https://user-images.githubusercontent.com/11013061/121370066-679b0280-c90a-11eb-9d7e-3f17c46cb101.png)

![image](https://user-images.githubusercontent.com/11

[2021-06-09 14:10] coleweusthem commented on #122
@nfee006, that is very strange. it's just when clicking on the add? not the actual action of submitting a resource? Like for some reason the view sometimes breaks? Do you know what you were doing before you tried? maybe something is breaking the context/session variables

[2021-06-09 14:12] nfee006 commented on #122
Just when I'm clicking on the add in that instance. All I had done before that was create a new dataset. Works the first time, less so the second as far as I can tell.

[2021-06-09 14:21] coleweusthem commented on #122
@nfee006, sorting should work now, but it uses a url parameter instead of a post. If there wasn't a reason for it using a post previously I'll move onto working on the above issues.

[2021-06-09 14:25] nfee006 commented on #122
@coleweusthem I have no issues with that solution as long as it works (seems to) and meets web standards

[2021-06-09 16:42] coleweusthem commented on #122
@nfee006, I think I've fixed the issue, the problem was coming from the breadcrumb, but we're not actually using the breadcrumb from CKAN so I removed it from the template.

[2021-06-09 16:43] coleweusthem commented on #122
@nfee006, going to start looking at that datastore issue

[2021-06-09 16:47] nfee006 commented on #122
Great - once you push it I'll check it on my side too.

[2021-06-09 16:47] coleweusthem commented on #122
@nfee006, just pushed

[2021-06-09 16:56] nfee006 commented on #122
Seems ok on my side! I'll keep an eye on it though.

[2021-06-10 18:49] nfee006 commented on #126
That would be surprising but they did upgrade their CKAN yesterday - I can ask and I'll try it again on my side. I would try the same with a CSV from another site. Example: https://dd.weather.gc.ca/air_quality/aqhi/atl/forecast/model/csv/2021060212_AQHI_ATL_AQFM.csv

[2021-06-10 19:35] coleweusthem commented on #122
@nfee006, I just pushed a fix for that

[2021-06-10 19:58] nfee006 commented on #122
I'm now getting this when I update the URL for a resource
![image](https://user-images.githubusercontent.com/11013061/121588887-6f3ed200-ca04-11eb-86c4-ebbb246308cb.png)
![image](https://user-images.githubusercontent.com/11013061/121588912-7665e000-ca04-11eb-9a83-3b24990c0d42.png)

However, if I go back, refresh the page, and resubmit it works. Not ideal - any idea where that could be coming from?

[2021-06-10 19:58] coleweusthem commented on #122
weird. I'll look into it, haven't seen that one yet

[2021-06-11 13:18] coleweusthem commented on #122
@nfee006, what are the exact steps you took to get the above error? when I go to a resources edit page, change the url, and press "update resource" it works and doesn't give that error.

[2021-06-11 16:06] coleweusthem commented on #122
2 separate ones didn't seem to do it. I'm currently working on a new installation guide. I think this was the only with left if I'm not mistaken, If you can figure out how to replicate it let me know and I'll take another look.

[2021-06-11 16:59] nfee006 commented on #122
I'll keep looking around for bugs. I assume that you haven't found any others while testing on your side? If yes, let me know and I can try to replicate if that helps.

There is still the issue of conformity - can you certify that this meets it (WCAG etc.. same as with the micro apps)? We were conform with CKAN 2.8 but we need to be sure that all of those conformity edits were transferred correctl

[2021-06-11 17:02] coleweusthem commented on #122
@nfee006, sorry forgot to explain it. Similar to how the helpers.py needed to be replaced. Same directory as before, but now you need to replace the pagination.py file instead.

[2021-06-11 17:04] nfee006 commented on #126
@coleweusthem There's also the issue of translating the data explorer page

![image](https://user-images.githubusercontent.com/11013061/121723996-36126a80-cab5-11eb-9eea-b63b676aa2bc.png)

In 2.8 this was done by editing that recline.js file that I sent you. 2.9 has a new version of recline though - it might support i18n out of the box, not sure. Feel free to chose the approach that you want to ta

[2021-06-11 18:07] duboisp commented on #121
It is possible to not use the magnific popup for the share this page widget and use instead the overlay plugin.

It will only require someone to send a PR to make that change into the wet-boew share plugin here:
* https://github.com/wet-boew/wet-boew/blob/master/src/plugins/share/share.js#L174
* https://github.com/wet-boew/wet-boew/blob/master/src/plugins/share/share.js#L216

[2021-06-11 18:51] coleweusthem commented on #126
@nfee006, do you have a way of maintaining the javascript file? or is it just something you change when you deploy CKAN

[2021-06-11 19:14] coleweusthem commented on #126
[recline.zip](https://github.com/asc-csa/ckanext-asc-csa/files/6640555/recline.zip)

[2021-06-11 19:46] nfee006 commented on #126
This was a kinda hack-y thing I did because we couldn't find any work-arounds. Are you saying that that .js file will work for 2.9?

[2021-06-11 19:47] coleweusthem commented on #126
Yes it should, and I think they hacky way is the only way to do it currently. The text is all inline in the code to begin with. I don't think it supports translations of any kind.

[2021-06-14 12:30] nfee006 opened #128 "Question: documentation"
@coleweusthem : unless I'm misreading, I think you removed the instructions for installing vanilla CKAN from source (ie. for development). Was that intentional?

[2021-06-14 12:35] coleweusthem commented on #128
Things changed for ckan 2.9, so I had updated it to follow the way I installed it. From what I can tell it gets installed in the same location as source did before, and it's actually a bit quicker and easier to follow. If theres some specific things I'm missing that you'd like to see let me know and I can certainly add sections.

[2021-06-14 12:36] nfee006 commented on #124
Addressed in the python 3 branch.

[2021-06-14 12:36] #124 closed

[2021-06-14 12:37] nfee006 commented on #128
As long as we're 100% sure that we're not missing out on anything required for development. Since you installed it that way, I assume it's fine.

[2021-06-14 12:48] nfee006 commented on #128
@coleweusthem : can you add a section explaining how to implement the required changes in vanilla ckan (adding recline.js and pagination.py) please?

[2021-06-14 12:50] nfee006 commented on #128
Also, can you confirm that you're using nginx? We're not using it on our side - is there a benefit?

[2021-06-14 13:03] coleweusthem commented on #128
@nfee006, I can add a section for that. and  to my knowledge apache and nginx are more or less interchangeable (I think you're use apache) I just used nginx because it was what ckan was recommending.

[2021-06-14 13:18] nfee006 opened #129 "W3 errors - data explorer page"
I get these errors when I pass the data explorer page source code through the W3 validator.
Only seems to pop up in French.

![image](https://user-images.githubusercontent.com/11013061/121898350-49aa1500-ccf1-11eb-8fe8-4039a3d3221f.png)

[2021-06-14 13:33] nfee006 commented on #129
When I pass the contents of the iframe itself, I also get:

![image](https://user-images.githubusercontent.com/11013061/121900462-70694b00-ccf3-11eb-9ad5-344b92050150.png)
![image](https://user-images.githubusercontent.com/11013061/121900518-80812a80-ccf3-11eb-8b5a-c112926dc58c.png)

[2021-06-14 13:41] nfee006 opened #130 "Accessibility - API page error"
When I run the WAVE AIM validator on the site, I get the following error on the English API page (http://127.0.0.1:5000/en/API).

![image](https://user-images.githubusercontent.com/11013061/121901848-c5599100-ccf4-11eb-979d-3cb0d1c430b0.png)
![image](https://user-images.githubusercontent.com/11013061/121901888-cee2f900-ccf4-11eb-826f-1d6c445d71da.png)

@coleweusthem

[2021-06-14 13:47] nfee006 commented on #129
Additional accessibility errors based on the IBM Equal Access tool. Do you know if these are required for WCAG @coleweusthem?

[2021-06-14 13:55] nfee006 opened #131 "Accessibility - search page"
These are only being flagged by the IBM Equal Access Accessibility checkers, not by AIM. I assume they're required for WCAG conformity and not just bugs with the checker but let me know if not @coleweusthem

![image](https://user-images.githubusercontent.com/11013061/121903711-8fb5a780-ccf6-11eb-867e-eb380ea4534e.png)
![image](https://user-images.githubusercontent.com/11013061/121903734-97754c00-c

[2021-06-14 13:56] nfee006 commented on #130
Same page with the IBM Equal Access Accessibility checker
![image](https://user-images.githubusercontent.com/11013061/121903995-d1465280-ccf6-11eb-87ad-c1026da00829.png)

[2021-06-14 13:58] nfee006 opened #132 "Accessibility - dataset page"
These are only being flagged by the IBM Equal Access Accessibility checkers, not by AIM. I assume they're required for WCAG conformity and not just bugs with the checker but let me know if not @coleweusthem

![image](https://user-images.githubusercontent.com/11013061/121904375-21251980-ccf7-11eb-86eb-c66daf1beedc.png)

[2021-06-14 14:14] coleweusthem commented on #130
working on this

[2021-06-14 16:23] coleweusthem commented on #130
Some of the issues are from the GCweb theme, I took this screenshot from canada.ca's scan. So I'm working on correcting the issues that are exclusive to ckan. Updates to the GCWeb theme in the future should resolve the rest.
<img width="618" alt="Screen Shot 2021-06-14 at 1 21 42 PM" src="https://user-images.githubusercontent.com/46227765/121925594-77a05100-cd13-11eb-92c5-7640fef8c407.png">

[2021-06-15 13:24] coleweusthem commented on #130
Looks like I've got all these minus the ones coming from gcweb

[2021-06-15 14:26] coleweusthem commented on #131
looks like I've got all these except the ones from the gcweb theme

[2021-06-15 14:38] coleweusthem commented on #132
looks like I've got all these except the ones from the gcweb theme

[2021-06-16 12:36] nfee006 commented on #128
@coleweusthem, did you get my email about demonstrating conformity?

[2021-06-16 12:41] coleweusthem commented on #128
Yes, I'm, going to get that together today

[2021-06-16 12:43] nfee006 commented on #128
Sounds good! Wanted to make sure since emails have been buggy.

[2021-06-16 13:02] nfee006 commented on #126
A few things left to translate

![image](https://user-images.githubusercontent.com/11013061/122221896-b8b57400-ce7f-11eb-9cbc-0bafaede5240.png)

looks like this in 2.8

![image](https://user-images.githubusercontent.com/11013061/122221949-c965ea00-ce7f-11eb-8de3-13a17f1a56a5.png)

It should all need to be changed in recline.js. It's possible that the recline file is out of date. Did you make any c

[2021-06-16 13:05] coleweusthem commented on #126
I had made changes to the the one that was installed with ckan. They might have changed how that part works from the older version. You could grab it from prod but I'm not sure it would work correctly.

[2021-06-16 13:06] nfee006 commented on #126
Gotcha - ok. Are you able to look into this then please?

[2021-06-16 13:10] nfee006 commented on #126
Also, when testing this page I found the following.

Normally, when you click on the arrow next to "Go to this resource" it gives you an option of a few file formats. That doesn't seem to work anymore on my side.

2.8
![image](https://user-images.githubusercontent.com/11013061/122224745-688be100-ce82-11eb-949c-50bb68b0bb58.png)

2.8
![image](https://user-images.githubusercontent.com/11013061/12222

[2021-06-16 18:59] coleweusthem commented on #126
@nfee006 Can you give me some class names or info on the Data API button, it's missing and I'm trying to track down what controls it by running searches in the code base

[2021-06-16 19:01] nfee006 commented on #126
Like this?
![image](https://user-images.githubusercontent.com/11013061/122277327-c4229280-ceb3-11eb-8ef4-e0f067634be0.png)

[2021-06-16 19:02] coleweusthem commented on #126
yes thanks

[2021-06-16 19:18] nfee006 commented on #126
Here's an example of what it looks like in 2.9 btw https://demo.ckan.org/dataset/sample-dataset-1/resource/e687245d-7835-44b0-8ed3-0827de123895

[2021-06-16 19:19] coleweusthem commented on #126
thanks, weird that its not showing

[2021-06-23 15:07] nfee006 commented on #126
@coleweusthem: has the "preview experimental" button disappeared for you as well? It should be visible for all CSV/TXT files when logged in as admin and for all of them where preview = true when logged out.

My VM right now when logged in as admin:

![image](https://user-images.githubusercontent.com/11013061/123121374-1bc08100-d413-11eb-9824-7b018aa28656.png)

Should look like this:

![image](http

[2021-06-23 17:08] coleweusthem commented on #126
<img width="1449" alt="Screen Shot 2021-06-23 at 2 07 12 PM" src="https://user-images.githubusercontent.com/46227765/123139254-66022c00-d42c-11eb-87be-9d7d51a344e6.png">

Think it might be something specific to your end, mine looks like this.

[2021-06-23 17:16] nfee006 commented on #126
Noted, I'll poke around.

[2021-06-23 17:32] nfee006 commented on #126
I got the button back, but only for new datasets. It must have something to do with how I ported over the metadata from prod. I'll try a different method.

[2021-06-23 17:33] coleweusthem commented on #126
In my research it only shows for datasets that have been saved to the datastore

[2021-06-23 17:37] nfee006 commented on #126
Hmm - should be to use data proxy if something isn't in the datastore though. I don't think I've seen the preview button disappear when logged in as admin yet.

[2021-06-23 17:43] nfee006 commented on #126
@coleweusthem - testing out the data download button on the data explorer page. Was there somewhere to specify a filename/extension? In CKAN 2.8 the downloaded file has the appropriate extension, but in the new version it's just an extension-less file. Otherwise, it seems to work.

WAVE is giving an empty button error
![image](https://user-images.githubusercontent.com/11013061/123143533-b4153080-d

[2021-06-23 18:02] coleweusthem commented on #126
@nfee006, I just pushed a fix for the translations, when I use the download button I'm getting files with extensions. And I'll look at that w3 error

[2021-06-23 18:51] coleweusthem commented on #126
@nfee006, I fixed the first error, I'm not getting any of the others. Can you make sure you've pulled down the latest changes and check again? maybe send me the specific resource you are looking at?

[2021-06-23 20:14] nfee006 commented on #126
I confirm that my local instance is up to date with the python3_updates branch.

Good for the translations when I moved the recline.js file to the right place.

![image](https://user-images.githubusercontent.com/11013061/123160183-e0867800-d43b-11eb-88b1-e6ebf5e2c85e.png)

I'm working with a test dataset for all of these since my preview buttons still aren't working otherwise (I think I have the f

[2021-06-24 14:19] coleweusthem commented on #126
@nfee006, I think I've got the iframe issue, still can't replicate the file without an extension, and my wave isn't showing an empty button. we may need to set up a call to sort those 2 out.

[2021-07-26 20:05] nfee006 opened #133 "Dataset facet - low contrast and overflow"
![image](https://user-images.githubusercontent.com/11013061/127051764-2e408ac7-58cf-49a3-a8cd-977cde69ebad.png)

Stems from CKAN 2.9 main.css

[2021-07-27 12:25] nfee006 commented on #133
https://github.com/asc-csa/ckanext-asc-csa/pull/135
https://github.com/asc-csa/ckanext-asc-csa/pull/134

[2021-07-27 12:26] nfee006 commented on #133
Just need to figure out how to get the checkbox on the last activated filter to stay white without turning all visited links white.

FYI @coleweusthem

[2021-07-27 13:37] coleweusthem commented on #133
looks like you got this one figured out?

[2021-07-27 13:39] nfee006 commented on #133
Yep - good here. That should be it for the CKAN accessibility issues. Still the web standards ones to contend with though.

[2021-07-27 13:39] #133 closed

[2021-07-27 13:55] coleweusthem commented on #133
@nfee006, can you let me know which of the CKAN issues are left? I'm looking for the ones I see in the email but looks like you might have corrected them.

[2021-07-27 13:57] coleweusthem commented on #133
@nfee006, nvm, looks like the inspector might have been correcting the quotation issues, viewing the source shows them.

[2021-07-27 13:58] nfee006 commented on #133
I'll log them

[2021-07-27 14:01] nfee006 opened #137 "Web standards - Comms 1"
Several WCAG errors
1.    There are two Search Canada.ca
[WCAG21 2.4.6 (AA)] Form control labels must be unique: See matching tag on line: 135)
`<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>`

2.    There are quotes missing from the action attribute
Invalid characters found in the 'action' attribute's value starting at character: 7
`<form action=https://www.canada.ca/en/sr/srb.htm

[2021-07-27 14:03] nfee006 opened #138 "Disable the preview (experimental) button for resources that won't work"
5.  PVI [Standard web]
For individual datasets, the button « Preview (experimental) » does not seem to work at all. NF note: this might be for resources that point to folders. Need to implement a way of turning this button off for certain resources. This is not conformity so I will deal with it.
6.  PVI [Standard web]
For a dataset, if you download a txt (ex. https://datatest.asc-csa.gc.ca/fr/data

[2021-07-27 14:16] coleweusthem commented on #137
(3) should be fixed now

[2021-07-27 14:30] coleweusthem commented on #137
fixed 1) looks like they changed the canada.ca header a bit, so I replaced the search with what they have now

[2021-07-27 14:32] coleweusthem commented on #137
fixed 2) as part of 1

[2021-07-27 14:34] coleweusthem commented on #137
Ok I think that's everything if you want to double check.

[2021-07-27 14:37] nfee006 commented on #137
I'll do so shortly - thanks!

[2021-07-27 16:18] nfee006 commented on #137
@coleweusthem Still seeing issue 3
For reference, the header (with quotes):
![image](https://user-images.githubusercontent.com/11013061/127190190-bb83136a-bfb7-4258-867f-64a9be92967d.png)

The footer (missing quotes):
![image](https://user-images.githubusercontent.com/11013061/127190316-efdc9b70-9614-4d92-88d3-f632c688202e.png)

[2021-07-27 19:29] nfee006 commented on #137
@coleweusthem - just checking, did you see this?

[2021-07-28 13:09] coleweusthem commented on #137
<img width="1329" alt="Screen Shot 2021-07-28 at 10 04 54 AM" src="https://user-images.githubusercontent.com/46227765/127327059-d827e330-9ad4-444c-80a8-3aff8f36db5e.png">
Dash's templating system doesn't want to let me stick in double quotes, but the above with single quotes should be fine, I'm not sure why you aren't seeing it. I'll double-check I pushed the change

[2021-08-10 16:44] nfee006 commented on #128
Changes have been applied to the python3_updates branch.

[2021-08-10 16:44] #128 closed

[2021-08-10 16:45] nfee006 commented on #126
Works fine in the python3_updates branch.

[2021-08-10 16:45] #126 closed

[2021-08-10 16:45] #122 closed

[2021-08-10 16:45] #132 closed

[2021-08-10 16:46] #131 closed

[2021-08-10 16:46] #130 closed

[2021-08-10 16:47] nfee006 commented on #123
Works correctly on the python3_upgrades branch.

[2021-08-10 16:47] #123 closed

[2021-08-10 16:48] nfee006 commented on #52
The open government team has confirmed that the dataset registry is complete at this time. This will, however, be something to keep in mind long-term. We will reopen the issue if need be.

[2021-08-10 16:48] #52 closed

[2021-08-18 14:53] #90 closed

[2021-09-02 13:08] low-decarie opened #146 "API url in API readme"
Update https://donnees-data.asc-csa.gc.ca/API so that https://open.canada.ca/data/en/api/3/action/organization_show?id=csa-asc&include_datasets=True points to http://donnees-data.asc-csa.gc.ca/api/3/action/organization_show?id=csa-asc&include_datasets=True (or best endpoint).

Code is still a good example for harvester... not for CSA CKAN.

[2021-09-02 20:06] nfee006 commented on #146
Resolved in #147. I will push it to prod first thing in the morning.

[2021-09-02 20:06] #146 closed

[2021-09-10 15:43] nfee006 opened #148 "Implement data dictionaries"
https://docs.ckan.org/en/2.9/maintaining/datastore.html#data-dictionary

[2021-09-10 15:52] nfee006 commented on #43
Overhauled the API script with https://github.com/asc-csa/ckanext-asc-csa/commit/b43258b64bd8003718d93e34ba48c8d45c406dbe. We could add a link to the harvester on the API page but I worry that we'd be confusing people. TBD

[2021-09-13 13:36] nfee006 opened #149 "Optimize data visualization for social media"
Related to https://github.com/asc-csa/ckanext-asc-csa/issues/71

Would be nice if we had any easy way of embedding Data Explorer maps etc.. for social media.

[2021-12-03 19:39] nfee006 opened #153 "Page tracker cron task"
Automating the page tracker updates was attempted on @datatest, but doesn't seem to work. Another attempt on @data is warranted.

As it is, the page tracker functionality (including the index of most popular datasets) won't update unless you follow the instructions here: https://docs.ckan.org/en/2.9/maintaining/tracking.html